  <div class="library-content">

    <ul class="tabsContainer">
      <li *ngFor="let tab of tabs" id="tab-{{ tab.id }}" [ngClass]="{ active: tab.selected, disabled: tab.disabled }"
      (click)="selectTab(tab.id);">{{ tab.name }}</li>
    </ul>

    <div class="row sortbutton-row" *ngIf="this.activeTab < 2">
      <div class="display-options">
        <ul>
          <li class="sort-list-item" *ngFor="let option of displayOptions">
            <div class="button sort" id="button-{{ option.name }}" (click)="this.display(option.slug)" title="{{ option.name }}"
              [ngClass]="{ active: this.drawingService.file.configuration.libraryViewSettings === option.slug }">
              <img src="{{ option.src }}">
            </div>
          </li>
        </ul>
      </div>
      <div class="sortDropdown">
        <label class="select small">sort by </label>
        <select class="form-control" [(ngModel)]="this.drawingService.file.configuration.sortType" name="sortType" (change)="this.sortItems()">
          <option *ngFor="let type of sortOptions" [ngValue]="type.slug">{{ type.name }}</option>
        </select>
        <div class="sortDirection">
          <div class="arrow-up" [ngClass]="{ active: this.drawingService.file.configuration.sortDirection === 'last-first' }" (click)="this.toggleSortDirection()"><div></div></div>
          <div class="arrow-down" [ngClass]="{ active: this.drawingService.file.configuration.sortDirection === 'first-last' }" (click)="this.toggleSortDirection()"><div></div></div>
        </div>
      </div>

    </div>

    <ul class="tabContent tab-{{ this.activeTab }}" id="outer">
      <!-- normal tab -->
      <div class="innerContent" id="inner" *ngIf="this.activeTab === 0">
        <li class="blockContent {{ this.drawingService.file.configuration.libraryViewSettings }}" *ngFor="let item of this.drawingService.file.effects">
          <div class="rowDetails">
            <div class="title {{ this.drawingService.file.configuration.libraryViewSettings }}">
              <input type="text" class="form-control" id="name-{{ item.id }}" [(ngModel)]="item.name" name="name-{{ item.id }}" (change)="updateEffect(item)">
            </div>
            <div class="buttonsPlayWindow {{ this.drawingService.file.configuration.libraryViewSettings }}"
                 *ngIf="this.drawingService.file.configuration.libraryViewSettings === 'list'">
              <div class="buttonPlayWindow delete" (click)="editEffectItem(item.id)">
                <img src="./assets/icons/buttons/edit.svg">
              </div>
              <div class="buttonPlayWindow delete" (click)="deleteEffectItem(item.id)">
                <img src="./assets/icons/buttons/bin.svg">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="this.drawingService.file.configuration.libraryViewSettings !== 'list'">
            <div id="effectSVG-{{ item.id }}" class="effectSVG"></div>
            <div class="buttonsPlayWindow">
              <div class="buttonPlayWindow delete" (click)="editEffectItem(item.id)">
                <img src="./assets/icons/buttons/edit.svg">
              </div>
              <div class="buttonPlayWindow delete" (click)="deleteEffectItem(item.id)">
                <img src="./assets/icons/buttons/bin.svg">
              </div>
            </div>
          </div>
          <div class="overlayEffect" id="overlayEffect-{{ item.id }}"></div>
          <div class="dragOverlayEffect" id="dragOverlayEffect-{{ item.id }}" draggable="true"
              (mousedown)="dragstart(item)" (dragend)="dragend(item)" (mouseup)="dragend(item)"></div>
        </li>
      </div>

      <!-- library tab -->

      <div class="innerContent" id="inner" *ngIf="this.activeTab === 1">
        <li class="blockContent {{ this.drawingService.file.configuration.libraryViewSettings }}" *ngFor="let item of this.effectLibraryService.effectLibrary">
          <div class="rowDetails">
            <div class="title {{ this.drawingService.file.configuration.libraryViewSettings }}">
              <input type="text" class="form-control" id="name-{{ item.id }}" [(ngModel)]="item.effect.name" name="name-{{ item.id }}" (change)="updateEffect(item)">
            </div>
            <div class="buttonsPlayWindow {{ this.drawingService.file.configuration.libraryViewSettings }}"
                 *ngIf="this.drawingService.file.configuration.libraryViewSettings === 'list'">
              <div class="buttonPlayWindow delete" (click)="editLibraryEffectItem(item.id)">
                <img src="./assets/icons/buttons/edit.svg">
              </div>
              <div class="buttonPlayWindow delete" (click)="deleteLibraryItem(item.id)">
                <img src="./assets/icons/buttons/bin.svg">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="this.drawingService.file.configuration.libraryViewSettings !== 'list'">
            <div id="effectSVG-{{ item.effect.id }}" class="effectSVG"></div>
            <div class="buttonsPlayWindow">
              <div class="buttonPlayWindow delete" (click)="editLibraryEffectItem(item.id)">
                <img src="./assets/icons/buttons/edit.svg">
              </div>
              <div class="buttonPlayWindow delete" (click)="deleteLibraryItem(item.id)">
                <img src="./assets/icons/buttons/bin.svg">
              </div>
            </div>
          </div>
          <div class="overlayEffect" id="overlayEffect-{{ item.id }}"></div>
          <div class="dragOverlayEffect" id="dragOverlayEffect-{{ item.id }}" draggable="true"
              (mousedown)="dragstart(item)" (dragend)="dragend(item)" (mouseup)="dragend(item)"></div>
        </li>
      </div>

      <!-- details tab -->

      <div class="innerContent-details" id="inner" *ngIf="activeTab === 2 && this.drawingService.file.activeCollectionEffect !== null">
        <div class="form-group details">
          <div class="row">
            <label class="labelRow" for="name">Name</label>
            <input type="text" class="settings" id="col-effect-name" [(ngModel)]="this.drawingService.file.activeCollectionEffect.name" name="col-effect-name"
              (change)="updateEffect(this.drawingService.file.activeEffect)">
          </div>
          <div class="row">
            <label class="labelRow" for="name">Instance of</label>
            <input type="text" class="settings" id="effect-name" [(ngModel)]="this.effect.name" name="effect-name" disabled>
          </div>
          <div class="row">
            <label class="labelRow" for="name">Collection</label>
            <input type="text" class="settings" id="collection-name" [(ngModel)]="this.drawingService.file.activeCollection.name" name="collection-name" disabled>
          </div>
        </div>


        <div class="horizontalSeparator details"></div>

        <!-- details -->
        <div class="form-group details">
          <div class="opencloseArrow" [ngClass]="{ open: positionVisible }" (click)="positionVisible = !positionVisible"><div></div></div>
          <label class="labelRow start nextToArrow">Position</label>
          <div class="row-inline" *ngIf="!positionVisible">
            <input type="number" class="settings" id="position-x" value="{{ this.drawingService.file.activeCollectionEffect.position.x | number:'1.2-3' }}"
            (focusout)="hideCompleteValue('position-x')" (focus)="showCompleteValue('position-x')" (change)="updateValue('position-x')" name="position-x">
            <input type="number" class="settings" id="position-y" value="{{ this.drawingService.file.activeCollectionEffect.position.y | number:'1.2-3' }}"
            (focusout)="hideCompleteValue('position-y')" (focus)="showCompleteValue('position-y')" (change)="updateValue('position-y')" name="position-y">
          </div>
          <div class="row" *ngIf="positionVisible">
            <div class="row">
              <label class="label" for="name">X</label>
              <input type="number" class="settings" id="position-x" value="{{ this.drawingService.file.activeCollectionEffect.position.x | number:'1.2-3' }}"
               (focusout)="hideCompleteValue('position-x')" (focus)="showCompleteValue('position-x')" (change)="updateValue('position-x')" name="position-x">
            </div>
            <div class="row">
              <label class="label" for="name">Y</label>
              <input type="number" class="settings" id="position-y" value="{{ this.drawingService.file.activeCollectionEffect.position.y | number:'1.2-3' }}"
              (focusout)="hideCompleteValue('position-y')"  (focus)="showCompleteValue('position-y')" (change)="updateValue('position-y')" name="position-y">
            </div>
            <div class="row">
              <label class="label" for="name">Width</label>
              <input type="number" class="settings" id="position-width" value="{{ this.drawingService.file.activeCollectionEffect.position.width | number:'1.2-3' }}"
               (focusout)="hideCompleteValue('position-width')" (focus)="showCompleteValue('position-width')" (change)="updateValue('position-width')" name="position-width">
            </div>
            <div class="row">
              <label class="label" for="name">Height</label>
              <input type="number" class="settings" id="position-height" value="{{ this.drawingService.file.activeCollectionEffect.position.height | number:'1.2-3' }}"
              (focusout)="hideCompleteValue('position-height')" (focus)="showCompleteValue('position-height')" (change)="updateValue('position-height')" name="position-height">
            </div>
          </div>
        </div>

        <div class="horizontalSeparator details"></div>

        <div class="form-group details">
          <div class="opencloseArrow" [ngClass]="{ open: transformVisible }" (click)="transformVisible = !transformVisible"><div></div></div>
          <label class="labelRow start nextToArrow">Transform</label>
          <div class="row-inline" *ngIf="!transformVisible && this.drawingService.file.activeCollectionEffect.scale.uniform">
            <input type="number" class="settings" id="scale" value="{{ this.drawingService.file.activeCollectionEffect.scale.x | number:'1.2-3' }}"
              (focusout)="hideCompleteValue('scale')" (focus)="showCompleteValue('scale')" (change)="updateValue('scale')" name="scale">
          </div>
          <div class="row-inline" *ngIf="!transformVisible && !this.drawingService.file.activeCollectionEffect.scale.uniform">
            <input type="number" class="settings" id="scale-x" value="{{ this.drawingService.file.activeCollectionEffect.scale.x | number:'1.2-3' }}"
               (focusout)="hideCompleteValue('scale-x')" (focus)="showCompleteValue('scale-x')" (change)="updateValue('scale-x')" name="scale-x">
            <input type="number" class="settings" id="scale-y" value="{{ this.drawingService.file.activeCollectionEffect.scale.y | number:'1.2-3' }}"
              (focusout)="hideCompleteValue('scale-y')"  (focus)="showCompleteValue('scale-y')" (change)="updateValue('scale-y')" name="scale-y">
          </div>
          <div *ngIf="transformVisible">
            <div class="row" *ngIf="this.drawingService.file.activeCollectionEffect.scale.uniform">
              <label class="label" for="name">Scale</label>
              <input type="number" class="settings" id="scale" value="{{ this.drawingService.file.activeCollectionEffect.scale.x | number:'1.2-3' }}"
                (focusout)="hideCompleteValue('scale')" (focus)="showCompleteValue('scale')" (change)="updateValue('scale')" name="scale">
            </div>
            <div class="row" *ngIf="!this.drawingService.file.activeCollectionEffect.scale.uniform">
              <label class="label" for="name">Scale width</label>
              <input type="number" class="settings" id="scale-x" value="{{ this.drawingService.file.activeCollectionEffect.scale.x | number:'1.2-3' }}"
               (focusout)="hideCompleteValue('scale-x')" (focus)="showCompleteValue('scale-x')" (change)="updateValue('scale-x')" name="scale-x">
            </div>
            <div class="row" *ngIf="!this.drawingService.file.activeCollectionEffect.scale.uniform">
              <label class="label" for="name">Scale height</label>
              <input type="number" class="settings" id="scale-y" value="{{ this.drawingService.file.activeCollectionEffect.scale.y | number:'1.2-3' }}"
              (focusout)="hideCompleteValue('scale-y')"  (focus)="showCompleteValue('scale-y')" (change)="updateValue('scale-y')" name="scale-y">
            </div>

            <div class="row">
              <label class="radio-container details">uniform
                <input type="checkbox" class="type" id="uniform" name="uniform"
                [(ngModel)]="this.drawingService.file.activeCollectionEffect.scale.uniform" [checked]="this.drawingService.file.activeCollectionEffect.scale.uniform"
                (change)="updateCollectionEffect()">
                <span class="checkmark radio"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="horizontalSeparator details"></div>

        <div class="form-group details">
          <div class="opencloseArrow" [ngClass]="{ open: detailsVisible }" (click)="detailsVisible = !detailsVisible"><div></div></div>
          <label class="labelRow start nextToArrow">Rotation</label>
          <div *ngIf="detailsVisible">
            <div class="row">
              <label class="label select">Direction</label>
              <select class="details" id="select-controller-type" [(ngModel)]="this.drawingService.file.activeCollectionEffect.direction" name="direction">
                <option *ngFor="let type of directionOptions" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div>
            <div class="row">
              <label class="radio-container details">Every rotation
                <input type="checkbox" class="type" id="infinite" name="infinite"
                [(ngModel)]="this.drawingService.file.activeCollectionEffect.infinite" [checked]="this.drawingService.file.activeCollectionEffect.infinite"
                (change)="updateCollectionEffect()">
                <span class="checkmark radio"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="horizontalSeparator details"></div>

        <div class="form-group details">
          <div class="opencloseArrow" [ngClass]="{ open: reflectVisible }" (click)="reflectVisible = !reflectVisible"><div></div></div>
          <label class="labelRow start nextToArrow">Reflect</label>
          <div *ngIf="reflectVisible">
            <div class="row">
              <label class="radio-container details">x axis
                <input type="checkbox" class="type" id="reflect-x" name="reflect-x"
                [(ngModel)]="this.drawingService.file.activeCollectionEffect.flip.x" (change)="updateCollectionEffect()">
                <span class="checkmark radio"></span>
              </label>
            </div>
            <div class="row">
              <label class="radio-container details">y axis
                <input type="checkbox" class="type" id="reflect-y" name="reflect-y"
                [(ngModel)]="this.drawingService.file.activeCollectionEffect.flip.y" (change)="updateCollectionEffect()">
                <span class="checkmark radio"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="horizontalSeparator details"></div>

        <div class="form-group details">
          <div class="opencloseArrow" [ngClass]="{ open: repeatVisible }" (click)="repeatVisible = !repeatVisible"><div></div></div>
          <label class="labelRow start nextToArrow">Repeat</label>
          <div *ngIf="repeatVisible">
            <div class="row">
              <label class="label">Instances</label>
              <input type="number" class="settings" id="repeat-instances" [(ngModel)]="this.drawingService.file.activeCollectionEffect.repeat.instances" name="repeat-instances">
            </div>
          </div>
        </div>

      </div>


    </ul>
  </div>
