.library-content {
  width: calc(100% - 28px);
  height: 100%;
  position:relative;
  display:inline-block;
  left:3px;
}

.inline {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabsContainer {
  position:absolute;
  top: 0;
  list-style-type:none;
  margin:0;
  padding:0;
  width: auto;
  min-width: 100%;
  height: 21px;
  cursor: default;
  overflow:hidden;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tabsContainer li {
  top:0;
  display:inline-block;
  position: relative;
  width: auto;
  padding: 0 7px;
  color: #999;
  background: #3a3a3a;
  border-right: 1px solid #202020;
  line-height: 21px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  height: 21px;
  flex-wrap: nowrap;
  user-select: none;

}

.tabsContainer li.active {
  color: #ddd;
  background: #4a4a4a;
  font-weight: 500;
  height: 21px;
}
.tabsContainer li.disabled {
  display: none;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bgImage img {
  position: absolute;
  width: 108%;
  opacity: 0.3;
  left:10px;
  top: 15px;
}
.bgImage.componentIcons img {
  width: 85%;
  height: auto;
  padding: 12.5% 7.5% 2.5%;
  left: 0;
  top: 0;
}

.tabContent {
  position:absolute;
  top:20px;
  height: calc(100% - 20px);
  width: 100%;
  left:0;
  list-style-type:none;
  margin: 0;
  padding:0;
  border-top: 1px solid #202020;
  cursor: default;
  overflow-y: auto;
  overflow-x: hidden;
}


/* width */
.tabContent::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.tabContent::-webkit-scrollbar-track {
  background-image: url('../../../../assets/images/transparent-bg.png') repeat-y !important;
}

/* Handle */
.tabContent::-webkit-scrollbar-thumb {
  background: #1c1c1c;
}

/* Handle on hover */
.tabContent::-webkit-scrollbar-thumb:hover {
  background: #111;
}


.innerContent, .innerContent-details {
  height: auto;
  margin-top:0;
  position: absolute;
  top:0;
  width: 100%;
  user-select: none;
}

.innerContent-details {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.tabContent li.blockContent {
  display:inline-block;
  position: relative;
  width: 54px;
  height: 54px;
  left:0;
  top:0;
  border: 1px solid #1c1c1c;
  vertical-align: top;
  overflow: hidden;
}

.tabContent li.blockContent.large {
  width: 100%;
  height: 90px;
  padding: 3px 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #2c2c2c;
}

.details-list {
  padding:0;
  margin:0;
}

.details-list.variables {
  padding-top: 5px;
}

.details-list li.details-listitem {
  display:inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  left:0;
  box-sizing: border-box;
  padding: 0;
  font-size: 11px;
  color: #ccc;
  vertical-align: top;
  background: #3a3a3a;
}

.title {
  display:inline-block;
  position: absolute;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 9px;
  color: #ccc;
  top: 3px;
  left: 4px;
  line-height: 11px;
}

.scrollBar {
  position: absolute;
  width: 6px;
  border-radius: 3px;
  background: #1c1c1c;
  height: 0;
  margin-left: calc(100% - 6px);
  z-index: 20;
}

.buttons {
  width: auto;
  position:absolute;
  top: 225px;
  right: 0;
}

.button {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  box-sizing: border-box;
  padding: 3px;
  position:relative;
  display:inline-block;
  text-align:center;
}
.button img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.button:hover img,
.button:active img {
  opacity: 0.8;
}

.dragOverlay {
  position:absolute;
  top:0;
  left:0;
  width: 55px;
  height: 55px;
  background: none;
  opacity: 0.05;
}

.dragOverlayEffect {
  position:absolute;
  top:0;
  left:0;
  width: calc(100vw - 20px);
  height: 88px;
  opacity: 0;
  background: transparent;
}

.overlay {
  position:absolute;
  top:0px;
  left:0px;
  width: 52px;
  height: 52px;
  background: transparent;
  opacity: 0;
  border:1px solid cyan;
}

.overlayEffect {
  position:absolute;
  top:0px;
  left:0px;
  width: calc(100vw - 22px);
  height: 86px;
  background: transparent;
  opacity: 0;
  border:1px solid cyan;
}

.dragOverlay:active, .dragOverlayEffect:active, .overlayEffect:active, .overlay:active {
  cursor: move;
  cursor: grab;
  cursor: grabbing;
}


.overlay.dragging, .overlayEffect.dragging {
  opacity: 1;
  background: rgba(0,0,0,0.2);
}


.labelRow {
  display:inline-block;
  width: 87px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11px;
  padding: 4px 0 0 3px;
  color: #ccc;
}

.labelRow.fullwidth {
  width: 180px;
}
.labelRow.small {
  width: 77px;
}

.label, .span-text {
  display:inline-block;
  width: 90px;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0 7px 0 14px;
  font-size: 11px;
  color: #999;
  vertical-align: top;
  margin-top: 4px;
}
.span-text {
  padding:0 10px;
  width: auto;
}
.span-text.no-padding {
  padding:0 5px;
}

.column30.span-text {
  font-weight: 600;
  padding: 12px 0;
  vertical-align: top;
}


.column30 {
  position:relative;
  display:inline-block;
  width: 27%;
  height: auto;
  margin: 3%;
  box-sizing: border-box;
  text-align: center;
}

.column30.largeButton {
  padding: 8px 0 2px;
}

.column30.largeButton img {
  width: 75%;
  height: auto;
  opacity: 0.65;
}

.column30.span-text.right {
  text-align: right;
}
.column30.span-text.left {
  text-align: left;
}

.column30.largeButton:active {
  background: #404040;
  border: 1px solid #202020;
  -webkit-box-shadow: inset 0px 0px 3px #5b5b5b;
  box-shadow:         inset 0px 0px 3px #5b5b5b;
}
.column30.largeButton.active {
  background: #3a3a3a;
  border: 1px solid #202020;
  -webkit-box-shadow: inset 0px 0px 3px #4d4d4d;
  box-shadow:         inset 0px 0px 3px #4d4d4d;
}
.column30.largeButton:hover {
  background: #505050;
  border: 1px solid #202020;
}

.column30.largeButton:hover img {
  opacity: 1;
}

.label.wide {
  width: 150px;
}

.el-container {
  position: relative;
  display: inline-block;
}


.el-slider-container {
  position:absolute;
  display:inline-block;
  top:0;
  left:15px;
  height: 20px;
  margin:0;
  padding:0;
  width: calc(100% - 70px);
}

.el-slider-container.double {
  height: 45px;
  padding: 2px 10px;
}

/* .el-slider-container.normal {
  left:20px;
  height: 20px;
  width: calc(100% - 50px);
} */


.label-start, .label-end {
  display: inline-block;
  position: absolute;
  width: 20px;
  margin:0;
  left:-30px;
  text-align: right;
  color: #999;
}

.label-end {
  left: calc(100% - 20px);
  width: 35px;
  text-align: left;
}


input {
  display:inline-block;
  width: auto;
  padding: 0 5px;
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: transparent;
  font-size: 11px;
  color: #00AEEF;
  margin:0;
  font-family: 'Open Sans', Arial, sans-serif;
}

input[type=number] {
  max-width: 45px;
}

input[type=text] {
  max-width: 100px;
}

input[type=range] {
  max-width: 250px;
}

.unitSymbol {
  display: inline-block;
  position: relative;
  font-size: 11px;
  color: #00AEEF;
  margin:0;
  font-family: 'Open Sans', Arial, sans-serif;
}



input.large {
  max-width: 100px;
}

.units {
  color: #00AEEF;
  margin-left: 10px;
}

input:focus {
  border: 1px solid #1c1c1c;
  background: white;
  color: #000;
  outline: none;
  max-width: 90px;
}

input:focus .units {
  margin-left: 30px;
}

input.small, input.small:focus {
  width: 30px;
  max-width: 30px;
}


input.disabled {
  pointer-events: none;
  color: #999;
}

.label-start .input-value-label input {
  text-align: right;
}

.input-value-label input {
  padding:0;
  width: 40px;
  max-width: none;
}
.input-value-label {
  margin-top: 2px;
}

p.rule-input-value {
  display: none;
  width: auto;
  padding: 0 2px;
  height: 18px;
  line-height: 18px;
  margin:0;
  color: #00AEEF;
}

.rule-input-field {
  display: none;
  max-width: none;
  width: auto;
}
.rule-input-field.visible, p.rule-input-value.visible {
  display: inline-block;
}

.edit-icon {
  position:relative;
  display:inline-block;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  top: 6px;
  z-index: 10;
  vertical-align: top;
}

.edit-icon img {
  width: 100%;
  height: auto;
}

.edit-list, .rule-box-list {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.rule-edit-block, .edit-tab-content {
  position: relative;
  display:inline-block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.rule-edit-block.hidden {
  display:none;
}

.edit-list-item {
  position: relative;
  display: inline-block;
  padding: 0;
  background: #333;
  color: #999;
  border: 1px solid #1c1c1c;
  margin: 1px;
  font-size: 9px;
  width: auto;
  height: 18px;
  cursor: url(../../../../assets/icons/tools/cursor-move.png) 4 4, none;
}

.edit-list-item:hover {
  color: #ccc;
  border: 1px solid #1c1c1c;
}
.edit-list-item:active {
  cursor: url(../../../../assets/icons/tools/cursor-move2.png) 4 4, none;
}

.editVal, .rule-item {
  display:inline-block;
  position:relative;
  width: auto;
  height: 18px;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.input-field-div {
  display: inline-block;
}

.editVal img, .rule-item img {
  width: auto;
  height: 18px;
  opacity: 0.35;
}

.editVal-variable {
  padding: 0 3px;
  font-size: 10px;
  line-height: 18px;
}

.rule-icon, .rule-input-value, .rule-input-field, .rule-variable {
  vertical-align: top;
}
.rule-icon, .rule-variable {
  pointer-events: none;
}

.edit-list-item:hover img {
  opacity: 0.8;
}

.rule-variable {
  padding: 0 2px;
  line-height: 20px;
  color: #999;
}


.arrow {
  position: relative;
  width: 6px;
  height: 6px;
  left: 5px;
  top: 12px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  transform: rotate(45deg);
}

.arrow.closed {
  transform: rotate(-45deg);
}


.edit-tab {
  position:relative;
  float: left;
  width: auto;
  padding: 0;
  margin: 0 12px 0 2px;
  font-size: 11px;
  color: #999;
  border-bottom: 1px solid transparent;
}

.edit-tab.isActive, .edit-tab:hover {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}

.rule-edit-block {
  position:relative;
  display:inline-block;
  left:0;
  top: 0;
  margin: 0;
  padding: 0;
  height:auto;
  width: 100%;
  vertical-align: top;
}

.rule-edit-tabs {
  position:relative;
  display:inline-block;
  margin-bottom: 2px;
}

.rule-content {
  position: relative;
  display: inline-block;
  width: 100%;
  top:0;
  margin: 0;
  box-sizing: border-box;
}

.rule-content.invalid {
  background: rgba(255,115,0,0.6);
}

.ruleBox {
  position: relative;
  display: inline-block;
  width: 140px;
  background: #2c2c2c;
  border: 1px solid #1c1c1c;
  min-height: 22px;
  height: auto;
  padding: 2px;
  user-select: none;
  margin-top: 1px;
}

.ruleBox ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ruleBox ul li {
  position: relative;
  display:inline-block;
  border: 1px solid transparent;
  background: transparent;
  cursor: url(../../../../assets/icons/tools/cursor-move.png) 4 4, none;
}

.ruleBox ul li:active {
  border: 1px solid #1c1c1c;
  background: #3a3a3a;
  cursor: url(../../../../assets/icons/tools/cursor-move2.png) 4 4, none;
}



.level-0 {
  padding-left: 0;
}

.level-1 {
  padding-left: 8px;
}
.ruleBox.l-1 {
  width: 132px;
}
.level-2 {
  padding-left: 16px;
}
.ruleBox.l-2 {
  width: 124px;
}
.level-3 {
  padding-left: 24px;
}
.ruleBox.l-3 {
  width: 116px;
}
.level-4 {
  padding-left: 32px;
}
.ruleBox.l-4 {
  width: 108px;
}
.level-5 {
  padding-left: 40px;
}
.ruleBox.l-5 {
  width: 100px;
}
.level-6 {
  padding-left: 48px;
}
.ruleBox.l-6 {
  width: 92px;
}

.rule-name {
  position: relative;
  display: inline-block;
  width: calc(19% - 8px);
  height: 15px;
  font-size: 11px;
  top:5px;
  left:0;
  color: #ccc;
  vertical-align: top;
  user-select:none;
  text-transform: lowercase;
  text-align: right;
  margin-right: 8px;
  pointer-events: none;
}

.rule-input-value {
  cursor: text;
}

.ruleBox.invalid  {
  border: 1px dashed red;
}

.edit-box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 3px 0;
}


.draggable-area-rule-item {
  width: 5px;
  height: calc(100% - 2px);
  left: -3px;
  top:0;
  margin-top: 0;
  position: absolute;
  display: inline-block;
  background: #4a4a4a;
  border: 1px solid #2c2c2c;
  pointer-events: none;
}

.level-arrows {
  width: auto;
  height: 100%;
  right: 12px;
  position: absolute;
  top:0;
  display:inline-block;
}

.level-back, .level-forward {
  width: auto;
  height: 100%;
  position:relative;
  float:right;
}
.level-back {
  margin-right: 6px;
}

.arrow-left, .arrow-right {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  margin-top: -3px;
  border-left: 2px solid #666;
  border-bottom: 2px solid #666;
  border-radius: 1px;
  transform: rotate(45deg);
}

.arrow-left:hover, .arrow-right:hover {
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
}

.arrow-right {
  transform: rotate(-135deg);
}

.opencloseArrow {
  display:inline-block;
  position: relative;
  padding: 2px 0 2px 4px;
  left: -3px;
  top: -2px;
}

.opencloseArrow div {
  width: 5px;
  height: 5px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  transform: rotate(-45deg);
  margin-right: 5px;
}

.opencloseArrow.open {
  /* top: -6px; */
  transform: rotate(90deg);
}



select {
  -webkit-appearance:none;
  display: inline-block;
  padding: 3px 25px 3px 8px;
  width: 120px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  background: #444;
  border: 1px solid #2c2c2c;
  border-radius: 0;
  box-shadow:none;
  margin-left:0;
  margin-top:2px;
  vertical-align: top;
  color:#999;
}

select option {
  height: 30px;
}

select.playWindow {
  width: 140px;
}

label.select:after {
  content:"";
  position: absolute;
  left: 196px;
  /* top: 0; */
  vertical-align: top;
  margin-top:8px;
  border-top:5px solid #666;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
}
label.select.playWindow:after {
  left: 212px;
}

select.playWindowSmall {
  width: 75px;
  padding-right: 5px;
}

label.select.playWindowSmall:after {
  left: 148px;
}

.image-button {
  padding-top: 0;
  width: 23px;
  height: 22px;
}

.image-button img {
  width: 13px;
}

.labelInput:after {
  content:"";
  position: absolute;
  left: 120px;
  top: auto;
  margin-top:6px;
  border-top:5px solid #666;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
}


.default-option {
  opacity: 0.5;
}

.checkmark.radio {
  margin: -4px 0 0 0;
}

.checkmark.radio.playwindow {
  margin: 2px 0 0 0;
}

.row-slider {
  display: inline-block;
  position: relative;
  width: calc(100% - 24px);
  max-width: 250px;
  margin: 6px 14px 10px;
  left:0;
}

.row-slider.variable {
  margin: 4px 20px 25px;
  width: calc(100% - 40px);
}


.slider {
  position: relative;
  display: inline-block;
  width: 80%;
  min-height: 10px;
  margin: 0 10%;
  height: auto;
}

.slider-bar {
  position: absolute;
  width: calc(100% - 6px);
  margin-top: -4px;
  height: 4px;
  background: #1c1c1c;
  border-radius: 4px;
}

.handle {
  position: absolute;
  display:inline-block;
  left: 0;
  margin-left: -8px;
  margin-top: -7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 1px 1px 2px rgba(#000, 0.5);
}

.handlePos-0 {
  left: 1.5%;
}
.handlePos-1 {
  left: 31.5%;
}
.handlePos-2 {
  left: 64.5%;
}
.handlePos-3 {
  left: 98.5%;
}


.slider.variables {
  width: 75%;
}

.slider-arrow-left, .slider-arrow-right {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: -3px 8px 0 5px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  transform: rotate(135deg);
}

.slider-arrow-right {
  transform: rotate(-45deg);
}

.rowDetails, .buttonRow {
  width: 100%;
  display:inline-block;
  position:relative;
  height: 18px;
  box-sizing: border-box;
  padding-right: 5px;
}

.row.margin-bottom {
  margin-bottom: 10px;
}

.buttonRow {
   height: auto;
   margin-bottom: 10px;
   text-align: right;
   vertical-align: top;
}

.overviewSVG {
  position: relative;
  display:inline-block;
  width: calc(100% - 40px);
  height: 60px;
}

.effectSVG {
  position: relative;
  display:inline-block;
  width: calc(100% - 45px);
  height: 52px;
  margin-left: 5px;
}
.linearSVG {
  position: relative;
  display:inline-block;
  width: calc(100% - 30px);
  height: 100px;
  margin: 15px;
}

.motorid {
  position:relative;
  float:left;
  font-size: 11px;
  margin-right: 10px;
  color: #ccc;
  line-height: 16px;
}

.speed {
  position: relative;
  float:right;
  margin: 0 4px 0 8px;
  font-size: 10px;
  line-height: 16px;
  color: #FF9100;
}
.speed.pos {
  margin: 0 0 0 8px;
}
.speed.posUnits {
  margin: 0 4px 0 2px;
}

.horizontalSeparator {
  position: relative;
  display: inline-block;
  width: calc(100% - 6px);
  margin: 10px 3px 3px;
  height: 1px;
  background: #2c2c2c;
}

.filesSelectList {
  display: inline-block;
  vertical-align:top;
  cursor: default;
  width: 125px;
}

.dropdown {
  margin: 0;
  padding: 0;
  list-style-type:none;
  position: absolute;
  display: inline-block;
  top:18px;
  left: 35px;
  width: auto;
  background: #333;
  border: 1px solid #2c2c2c;
  z-index: 110;
}

.dropdown li, .selectedFile {
  display: block;
  position: relative;
  height: 18px;
  width: 100px;
  font-size: 11px;
  line-height: 18px;
  padding: 2px 10px 2px 5px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectedFile  {
  line-height: 11px;
}
.dropdown li:hover {
  background: #4a4a4a;
  color: #ccc;
}

.selectedFile {
  padding-right: 12px;
  padding-left: 6px;
  color: #999;
  width: 90px;
}

.dropdown-arrow {
  position: absolute;
  top: 5px;
  margin-left: 105px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  transform: rotate(-45deg);
  vertical-align:top;
}
.dropdown-buttons {
  list-style-type: none;
  position: absolute;
  left: 180px;
  top:0;
  margin:0;
  padding:0;
}

.dropdown-buttons li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 15px;
  height: 15px;
  border: 1px solid #1c1c1c;
  background: #2c2c2c;
  opacity: 0.6;
  margin-right: 4px;
}

.dropdown-buttons li:hover {
  opacity: 0.8;
  background: #4a4a4a;
}

.dropdown-buttons li img {
  position:absolute;
  width: 88%;
  height: 88%;
  padding: 6%;
}

.buttonsPlayWindow {
  position:relative;
  display:inline-block;
  width: 25px;
  padding-left: 5px;
  vertical-align: top;
  z-index: 100;
}

.buttonPlayWindow {
  position:relative;
  display:inline-block;
  width: 22px;
  height: 22px;
  margin: 3px 2px 5px;
  border: 1px solid #1c1c1c;
  background: #2c2c2c;
}

.buttonPlayWindow.delete {
  margin: 0 5px 7px 0;
}

.buttonPlayWindow img {
  width: auto;
  text-align: center;
  padding: 20%;
  height: 60%;
  opacity: 0.6;
}

.buttonPlayWindow:hover {
  background: #4a4a4a;
}


input.html-slider {
  -webkit-appearance: none;
  display:inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1c1c1c;
  border-radius: 2px;
  position: relative;
  max-width: none;
  pointer-events: none;
}
/* html slider */
.html-slider:focus, .html-slider:active {
  outline: none;
  max-width: none;
}

.html-slider::-webkit-slider-runnable-track {
  z-index: 10;
}

.html-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #ccc;
  margin-top: -1px;
  z-index: 100;
}


.row.sleepmode {
  margin-bottom: -10px;
  padding-top: 5px;
  user-select: none;
}

.row.sleepmode.active .switch input {
  user-select: auto;
}
/* switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 13px;
}

.switch.sleepmode {
  margin-left: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 2px;
  bottom: 2px;
  background-color: #3a3a3a;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .toggleSlider {
  background-color: #f2662d;
}

.switch input:checked + .toggleSlider:before {
  -webkit-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */
.toggleSlider.round {
  border-radius: 14px;
}

.toggleSlider.round:before {
  border-radius: 50%;
}

.icon {
  display:inline-block;
  vertical-align: top;
  position: absolute;
  margin-top: -5px;
  width: auto;
  height: 10px;
  padding: 0 5px;
  opacity: 0.6;
}

.icon img {
  height: 100%;
  width: auto;
}

