.wrapper {
  position:absolute;
  width:100%;
  height: 100vh;
  margin: 0;
}

#model {
  position: relative;
  display:inline-block;
  width: 70%;
  height: 230px;
  vertical-align: top;
  min-height: 200px;
  overflow:hidden!important;
  min-width: 700px;
}

#classifiers {
  position: absolute;
  display: inline-flex;
  width: 30%;
  height: 230px;
  vertical-align: top;
  padding: 0 0 2px;
  min-height: 200px;
  overflow:hidden;
  min-width: 250px;
  right: 0;
  background: #333;
}

#data {
  display:inline-flex;
  position:relative;
  height:calc(100vh - 220px);
  margin-top: 0;
  width:100%;
  vertical-align: top;
  min-height: 200px;
}

#svg_graph {
  display: inline-flex;
  position: relative;
  height: calc(100% - 70px);
  margin-top: 20px;
  width: calc(100% - 250px);
  vertical-align: top;
}

.datalist_dropdown {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  z-index: 10;
}

.graph_controls {
  margin-top: 0;
  display: inline-block;
  position: absolute;
  width: 230px;
  right: 0;
  height: 100%;
  padding-top: 5px;
  background: #2b2b2b;
  border-left: 1px solid #222;
  overflow: hidden;
}


.form-group {
  padding: 2px 0;
}

.sidebar {
  position:relative;
  display:inline-block;
  left:0;
  width: 25px;
  height:100%;
  background: #3a3a3a;
  border-right: 1px solid #1c1c1c;
}

.hide-sidebar {
  position:absolute;
  display:inline-block;
  width: 100%;
  height: 13px;
  cursor:pointer;
}

.hide-sidebar div {
  position: relative;
  top: 4px;
  left: 5px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid #ccc;
}

#toggleResultWindow.hidden div {
  border-left: none;
  border-right: 5px solid #ccc;
}

.columns {
  display: flex;
  width: 100%;
  height: calc(100% - 45px);
  top: 0;
  vertical-align: top;
  margin-top: 45px;
  flex-direction: row;
}

.padding-15 {
  padding: 15px;
  box-sizing: border-box;
}

.margin-top-10 {
  margin-top: 10px;
}

.offset-left {
  margin-left: 239px;
}

.column-20, .column-40, .column-30, .column {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  align-self: flex-start;
  flex-direction: column;
  margin-right: 20px;
}

.column-20 {
  width: 20%;
  min-width: 110px;
}

.column-30 {
  width: 30%;
  min-width: 180px;
}


.column-30.mcu {
  width: 210px;
}

.column-40 {
  width: 30%;
  min-width: 240px;
}

.flex-row {
  flex-direction: row;
}

.form-group.microcontroller {
  width: 180px;
}

.fixed-height {
  height: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#NN_options.fixed-height {
  overflow:visible;
}

.fixed-toolbar {
  position: absolute;
  display:inline-block;
  width: 100%;
  right: 0;
  height: 45px;
  padding: 5px 35px 5px 20px;
  top:0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  user-select: none;
  background: #3a3a3a;

  border-bottom: 1px solid #202020;
  /* box-shadow: inset 0px 0px 3px #4d4d4d; */
}



#fixed-toolbar.hidden {
  top:-2px;
}

.attach-toolbar {
  position:absolute;
  display:inline-block;
  background: #3a3a3a;
  height: 44px;
  width: 12px;
  top:0;
  right:0;
  z-index: 100;
}

.attach-toolbar .attach-arrow {
  position: absolute;
  margin: 4px 3px 0;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid #ccc;
  z-index: 100;
  cursor: pointer;
}

#data_output_list {
  min-width: 200px;
  width: calc(100% - 50px);
  height: auto;
  /* max-height: calc(100% - 105px); */
}

#data_output_list.results {
  height: auto;
  width: calc(100% - 50px)!important;
}

#data_output_list.classifiers {
  width: calc(100% - 50px)!important;
}

#create_classifiers, #results {
  padding: 15px;
  width: calc(100% - 25px);
  box-sizing: border-box;
  left: 25px;
  position: absolute;
  height: 100%;
  overflow-y: auto;
}

.row-padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}


.inputfield-inset {
  min-height: 350px;
  width: 280px;
}

.checkbox-container, .radio-container {
  margin-bottom: 0;
  margin-left: 4px;
}

label {
  padding: 0px 18px;
  height: 19px;
  line-height: 20px;
  vertical-align: top;
}

input.nextToArrow {
  width: 80px;
  margin-left: -15px;
  margin-top: 4px;
}

input.nextToArrow.active {
  font-weight: 700;
}

input[type=number] {
  vertical-align: top;
  float:right;
}

input[type=text] {
  vertical-align: top;
}

button {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  float:right;
}

button.add {
  margin: 0 0 0 5px;
  vertical-align: top;
  padding: 3px 8px;
}

button.add.labelRowItem {
  margin: 4px 0 0 10px;
}


select.playWindow {
  margin-top: 0;
  width: 115px;
  height: 22px;
  padding-right: 8px;
}

select.playWindow::-webkit-scrollbar {
  width: 6px;
}

select.playWindow::-webkit-scrollbar-track {
  background: 'transparent';
}

select.playWindow::-webkit-scrollbar-thumb {
  background: #1c1c1c;
}


select.playWindow.table {
  width: 90%;
  height: 18px;
  font-size: 11px;
  line-height: 10px;
  border: 1px solid #1c1c1c;
  background: #4a4a4a;
  vertical-align: top;
  margin-top: 3px;
}

select#microcontroller {
  margin-bottom: 10px;
}

#open_microcontroller {
  left: -1px;
}



.placeholder {
  color: #666;
}

.buttons {
  display:inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  top:auto!important;
  height: 50px;
}

.buttons.trim {
  top:-8px!important;
}

.data-size {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.labelRow {
  margin-top: 2px;
  width: 121px;
  font-weight: 600;
  margin-bottom: 5px;
}

.labelRow.tableHeader {
  margin: -5px 0 4px;
}

.labelRow.small {
  width: auto;
  font-size: 11px;
  padding-right: 10px;
}

.label {
  width:120px;
  color: #ddd;
}

label {
  color: #999;
}

.list-item {
  color: #999;
}

.flexbox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.column {
  /* flex-grow: 3; */
  align-self: flex-start;
  padding-right: 10px;
}

.column.tableheader {
  margin: 5px 0;
}

.row.hidden {
  display: none;
}

.data_element {
  flex-grow: 1;
  font-size: 11px;
  width: 100%;
  height: 20px;
  line-height: 15px;
  color: #999;
  box-sizing: border-box;
  padding: 0px 5px;
  /* border-left: 1px solid #5d5b5b; */
}

.data_element.invisible {
  display: none;
}

.data_element.header {
  color: #ccc;
  height: 45px;
  font-weight: 600;
}

.data_element.header.deactivated {
  color: #666;
  background: #333;
}

.dataset_column {
  width: 120px;
  margin-left: 0;
  margin-top: 0;
}

.flexbox-row-even {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}


.variable_names {
  margin-left: 80px;
}

.record-button {
  position: absolute;
  right: 22px;
  width: 46px;
  height: 18px;
  border-radius: 18px;
  line-height: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background: #d6cece;
  top: 13px;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #333;
  margin: 6px;
}

.red {
  background: #ec3838;
}

.rec-text {
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: bold;
  font-size: 11px;
}
.data_content {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: calc(100vw - 200px);
  vertical-align: top;
}

.dataSet_data {
  position: relative;
  height: calc(60vh - 123px);
  width: calc(100vw - 320px);
}

#data_input_list {
  color: #ccc;
  position: relative;

  /* border: 1px solid #666; */
  /* padding: 1px 0 1px 2px; */
  height: 38px;
  width: 100%;
}

#data_input_list.variable-column {
  height: calc(60vh - 123px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#data_input_list li {
  display: flex;
  height: 20px;
}

#data_input_list li:last-child {
  margin-bottom: 20px;
}

#data_input_list li#datalist-header {
  height: 38px;
}

#data_input_list li.data-header, #data_input_list li.data-element {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

#data_input_list.variable-column {
  height: calc(60vh - 123px);
  overflow-x: hidden;
  overflow-y: auto;
}

ul.data-list-header {
  width: calc(100% - 6px)!important
}

ul.motor-list {
  display: inline-flex;
  flex-direction: row;
}
ul.motor-list li {
  margin-left: 0!important;
}

ul.motor-list li > span {
  padding: 1px 4px;
  width: 30px;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  margin-top: 3px;
  background: #222;
}

ul.motor-list li.header > span {
  background: #346394;
}


.buttons-list {
  float:right;
  margin-right: 50px;
  margin-top: 4px!important;
}

.buttons-list li#delete {
  padding: 3px 2px;
  height: 27px;
  width: 27px;
  box-sizing: border-box;
}

/* #data_input_list li.dataSet {

} */

/* width */
#data_input_list::-webkit-scrollbar, #data_output_list::-webkit-scrollbar, #create_classifiers::-webkit-scrollbar, #results::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#data_input_list::-webkit-scrollbar-track, #data_output_list::-webkit-scrollbar-track, #create_classifiers::-webkit-scrollbar-track, #results::-webkit-scrollbar-track {
  background: 'transparent';
}

/* Handle */
#data_input_list::-webkit-scrollbar-thumb, #data_output_list::-webkit-scrollbar-thumb, #create_classifiers::-webkit-scrollbar-thumb, #results::-webkit-scrollbar-thumb{
  background: #1c1c1c;
}

/* Handle on hover */
#data_input_list::-webkit-scrollbar-thumb:hover, #data_output_list::-webkit-scrollbar-thumb:hover, #create_classifiers::-webkit-scrollbar-thumb:hover, #results::-webkit-scrollbar-thumb:hover {
  background: #111;
}


#data_input_list li.values {
  color: #666;
}

.row.inset {
  padding-left: 16px;
  width: calc(100% - 2px);
  box-sizing: border-box;
  overflow: hidden;
  height: 26px;
  line-height: 22px;
  max-height: 26px;
  /* border-bottom: 1px solid #5b5b5b; */
}

.row.inset.dataset {
  border-bottom: none;
  cursor:pointer;
}

.dataset_column > .row.inset {
  border-bottom: none;
}

.buttonPlayWindow {
  width: 20px;
  height: 20px;
  background: transparent;
  float: right;
  border: none!important;
  cursor: default!important;
}

.buttonPlayWindow.dataSetList {
  margin: 2px 2px 2px 0;
  color: #ccc;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.buttonPlayWindow.dataSetList.delete {
  margin: 1px 2px 2px 0;
}

#delete.buttonPlayWindow.dataSetList img {
  padding: 4px 0;
}

.buttonPlayWindow.text-button {
  height: 18px;;
}

.buttonPlayWindow img {
  padding: 15%;
  height: 75%;
}

.opencloseArrow {
  top: 0px!important;
}

.opencloseArrow.classifier {
  top: 1px!important;
}

.opencloseArrow.microcontroller {
  left: -3px!important;
}

.opencloseArrow.controls {
  left: 1px!important;
}

.opencloseArrow.hidden {
  display: none;
}

.bar-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: calc(100% - 180px);
  height: 10px;
  margin-top: 6px;
  background: rgba(255,255,255,0.1);
}

.bar {
  position:relative;
  left:0;
  top:0;
  width: 0;
  height: 10px;
  background: #fff;
}

.category-title {
  display: inline-block;
  margin: 0;
  width: 100px;
}

.confidence {
  display: inline-block;
  float:right;
  font-size: 10px;
  vertical-align: top;
  margin-top:4px;
  color: #ccc;
  font-weight: 600;
  text-align: right;
  width: 40px;
}

#processing-image {
  display: inline-block;
  height: 20px;
  margin-top: 12px;
}

#processing-image img {
  height: 20px;
  width: 20px;
}

#processing-image.hide {
  display: none;
}


.overflow-hidden {
  overflow-x:hidden;
}

.flex-row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  width: 100%;
}


#toggleDataSection.hidden .attach-arrow {
  border-top: none;
  border-bottom: 5px solid #ccc;
}


#toggleDataSection.hidden #toolbar-content {
  display: none;
}


input.html-slider {
  width: 80%;
  left: 20%;
}

.align-left {
  margin-left: -14px;
}


.input-list-buttons, .motor-list-buttons {
  list-style-type: none;
  padding:0;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: -2px;
}

.input-list-button-item, .motor-list-button-item {
  width: 100%;
}


/* .input-list-button-item div:hover, .motor-list-button-item div:hover {

}

.input-list-button-item:active, .motor-list-button-item:active {

} */


.input-list-button-item div, .motor-list-button-item div {
   display: inline-block;
   font-size: 12px;
   padding: 2px 10px;
   width: auto;
   font-weight: 600;
   color: #999;
   cursor:pointer;
   user-select: none;
   margin: 2px;
   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;
}

.motor-list-button-item div.active {
  /* background: #00AEEF; */
  background: #999;
  color: #222;
}

.input-list-button-item div.active {
  color: #222;
}


.form-group.absolute {
  position: absolute;
  width: calc(100% - 320px);
  display: inline-block;
  margin: 10px 0 0 28px;
  z-index: 10;
}

#dataSetName {
  font-size: 13px;
  margin-left: -3px;
  font-weight: 600;
  max-width: none;
}
