<div id="motor-control-section">

  <ul id="motor-list">
    <li *ngFor="let collection of this.motorControlService.file.collections">
      <div class="motor-control-rows" id="row-{{ collection.id }}">
        <div class="info">
          <div class="form-row left" *ngIf="collection.name && this.motorControlService.width > 200">
            <input type="text" id="collection-name" name="collection-name" [(ngModel)]="collection.name">
          </div>

          <div id="buttonsMotorControl" *ngIf="this.motorControlService.width > 350">
            <ul class="dropdown-buttons">
              <li id="delete" (click)="delete(collection)" title="delete collection"><img class="no-pointer-events" src="./assets/icons/buttons/bin.svg"></li>
            </ul>
          </div>

          <div class="form-row left" title="select microcontroller"  *ngIf="this.motorControlService.width > 100">
            <select class="form-control" id="comport" [(ngModel)]="collection.microcontroller" (change)="saveCollection(collection)" name="comport" [compareWith]="compareCOM">
                <option *ngFor="let mcu of microcontrollers" [ngValue]="mcu">{{ mcu.name }}</option>
            </select>
          </div>

          <div class="form-row left" *ngIf="collection.microcontroller && this.motorControlService.width > 200" title="motor identifier">
            <select class="form-control" id="motorID" [(ngModel)]="collection.motorID" (change)="saveCollection(collection)" name="comport" [compareWith]="compareID">
                <option *ngFor="let motor of collection.microcontroller.motors" [ngValue]="motor.id">{{ motor.id }}</option>
            </select>
          </div>

          <div id="buttonsMotorControl" *ngIf="this.motorControlService.width > 350 && collection.microcontroller">
            <ul class="dropdown-buttons">
              <li id="render" [ngClass]="{ active: collection.effectDataList.length > 0 }" (click)="render(collection)" title="render">
                <img class="no-pointer-events" src="./assets/icons/buttons/refresh.svg"></li>
              <li id="upload" (click)="upload(collection)" title="upload"><img class="no-pointer-events" src="./assets/icons/buttons/upload.svg"></li>
              <li id="play"  [ngClass]="{ active: collection.renderedData && collection.renderedData.length > 0 }" (click)="play(true, collection)" *ngIf="collection.visualizationType === 'velocity'">
                <span class="no-pointer-events" *ngIf="!collection.playing" title="play"><div class="play-arrow no-pointer-events"></div></span>
                <span class="no-pointer-events" *ngIf="collection.playing" title="stop"><div class="stop-square no-pointer-events"></div></span>
              </li>
            </ul>
          </div>

          <div id="rangeValues" *ngIf="(collection.microcontroller === null || !collection.playing) && this.motorControlService.file.configuration.collectionDisplay === 'large' && this.motorControlService.width > 800">
            <label>range</label>
            <input type="number" *ngIf="collection.rotation.units.name !== 'ms'" id="range-start" name="rotation-start" value="{{ collection.rotation.start }}" (change)="updateRangeValues(collection)">
            <input type="number" id="range-end" name="rotation-end" value="{{ collection.rotation.end }}" (change)="updateRangeValues(collection)">

            <select class="form-control" *ngIf="collection.visualizationType !== 'velocity'" id="unitsDropdown" (focus)="this.oldUnits = collection.rotation.units" [(ngModel)]="collection.rotation.units" (change)="changeUnits(collection)" name="units" [compareWith]="compareName">
              <option *ngFor="let unit of unitOptions" [ngValue]="unit">{{ unit.name }}</option>
            </select>

            <select class="form-control" *ngIf="collection.visualizationType === 'velocity'" id="unitsDropdown" (focus)="this.oldUnits = collection.rotation.units" [(ngModel)]="collection.rotation.units" (change)="changeUnits(collection)" name="units" [compareWith]="compareName">
              <option *ngFor="let unit of unitOptionsVelocity" [ngValue]="unit">{{ unit.name }}</option>
            </select>
          </div>

          <div id="buttonsMotorControl" *ngIf="this.motorControlService.width > 350">
            <ul class="dropdown-buttons">
              <li id="loop" (click)="loop(collection.id)" [ngClass]="{ active: collection.rotation.loop }" title="infinite rotation / loop (motor cursor)"><img class="no-pointer-events" src="./assets/icons/buttons/infinite.svg"></li>
            </ul>
          </div>

          <div id="visualizationType" class="form-row left" *ngIf="this.motorControlService.file.configuration.collectionDisplay === 'large' && this.motorControlService.width > 700">
            <select class="form-control" id="visualizationType" [(ngModel)]="collection.visualizationType" (change)="this.motorControlService.drawCollection(collection)" name="visualizationType" title="visualization type">
                <option *ngFor="let type of visualizationTypes" [ngValue]="type.name">{{ type.name }}</option>
            </select>
          </div>

          <div class="form-row left" *ngIf="this.motorControlService.width > 600">
            <div id="coll-layers-row" *ngFor="let layer of collection.layers">
              <ul id="coll-layers">
                <li id="visible" [ngClass]="{ active: layer.visible }" (click)="toggleVisibility(collection, layer)"><img class="no-pointer-events" src="./assets/icons/layers/visible-icon.svg" title="toggle visibility {{ layer.name }} layer"></li>
                <li id="lock" [ngClass]="{ active: layer.locked }" (click)="toggleLocked(collection, layer)"><img class="no-pointer-events" src="./assets/icons/layers/disable-layer.svg" title="toggle lock {{ layer.name }} layer"></li>
              </ul>
              <label>{{ layer.name }}</label>
            </div>
          </div>

          <div class="form-row" *ngIf="this.motorControlService.file.configuration.collectionDisplay === 'large' && this.motorControlService.width > 500">
            <select class="form-control" id="select" (change)="this.motorControlService.updateScale(collection)" [(ngModel)]="collection.config.scale" name="scale" [compareWith]="compareValue">
                <option *ngFor="let scale of scaleOptions" [ngValue]="scale">{{ scale.text }}</option>
            </select>
          </div>

          <div class="form-row" *ngIf="this.motorControlService.width > 900 || this.motorControlService.file.configuration.collectionDisplay !== 'large' || collection.playing">

            <div class="motor-info posUnits" id="speedUnits-{{ collection.id }}" *ngIf="collection.rotation.units.name === 'degrees'">&deg;/s</div>
            <div class="motor-info posUnits" id="speedUnits-{{ collection.id }}" *ngIf="collection.rotation.units.name === 'ms' || collection.rotation.units.name === 'radians'">rad/s</div>
            <div class="motor-info" id="speed-{{ collection.id }}">0 </div>

            <div class="motor-info posUnits" id="posUnits-{{ collection.id }}" *ngIf="collection.rotation.units.name === 'ms'">ms</div>
            <div class="motor-info" id="time-{{ collection.id }}" *ngIf="collection.rotation.units.name === 'ms'">0 </div>

            <div class="motor-info posUnits" id="posUnits-{{ collection.id }}" *ngIf="collection.rotation.units.name === 'degrees'">&deg;</div>
            <div class="motor-info posUnits" id="posUnits-{{ collection.id }}" *ngIf="collection.rotation.units.name === 'radians'">rad</div>
            <div class="motor-info" id="position-{{ collection.id }}" *ngIf="collection.rotation.units.name !== 'ms'">0 </div>


          </div>
        </div>

        <div class="row" id="row2{{ collection.id }}">
          <div class="collection-order-buttons {{ this.motorControlService.file.configuration.collectionDisplay }}" *ngIf="this.motorControlService.file.collections.length > 1">
            <div class="up" (click)="moveCollection(collection.id, -1)"><div class="arrow up"></div></div>
            <div class="down" (click)="moveCollection(collection.id, 1)"><div class="arrow down"></div></div>
          </div>
          <div id="col-{{ collection.id }}" class="column-visualization" (drop)="drop($event, this)" (dragleave)="removeTmpEffect($event, this)"
            (dragend)="resetTmpEffect()" (dragover)="allowDrop($event, this)"></div>
        </div>
      </div>
    </li>
  </ul>

</div>
