
    #field-inset {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 44px;
      margin: 0;
      height: calc(65vh - 20px);
      width: calc(100vw - 44px);
      min-height:400px;
      overflow: hidden;
      z-index: 0;
    }

    #field-inset.toolbarInset-hidden {
      left:0;
      width: 100%;
    }

    .grid line {
      stroke: #ddd;
      stroke-width: 0.3;
      /* vector-effect: non-scaling-stroke; */
    }
    .gridSub line {
      stroke: #ddd;
      stroke-width: 0.3;
      opacity: 0.8;
      /* vector-effect: non-scaling-stroke; */
    }

    .spacingSubX {
      opacity: 0.8;
    }

    #boxOutline path {
      stroke-width: 0.8;
    }

    /* .lines path,
    .lines line {
      vector-effect: non-scaling-stroke;
    }
    .forceNode line,
    .forceNode path,
    .lineThicknessCursorConn line,
    .innerNode line,
    .innerNode path,
    .node line,
    .node path {
      vector-effect: non-scaling-stroke;
    } */

    line.stepLine {
      stroke-width: 0.3;
      /* vector-effect: non-scaling-stroke; */
    }

    .stepLine.M line {
      stroke-width: 1;
    }
    #selectionBox path {
      shape-rendering: geometricPrecision;
      stroke-width: 1px;
      /* vector-effect: non-scaling-stroke; */
    }
    #selectionBox line {
      stroke-width:1px;
      /* vector-effect: non-scaling-stroke; */
      shape-rendering: geometricPrecision;
    }
    .centerBBox:hover {
      cursor: url('../../../../assets/icons/tools/cursor-drag.png'), none;
    }
    /*draw area*/

    /*.drawAreaContainer {*/
      /*overflow: hidden;*/
    /*}*/


    #handle_0 {
      cursor: nw-resize;
    }
    #handle_2 {
      cursor: ne-resize;
    }
    #handle_4 {
      cursor: se-resize;
    }
    #handle_6 {
      cursor: sw-resize;
    }
    #handle_1, #handle_5 {
      cursor: n-resize;
    }

    #handle_3, #handle_7 {
      cursor: e-resize;
    }

    #field-inset rect.guide {
      fill: #01b8bb;
    }
    #field-inset rect.guide.selected {
      fill: #00eff3;
    }
    .guide {
      fill: #01b8bb;
    }
    .guide.selected {
      fill: #00eff3;
    }

  