<div id="create_classifiers" class="row" *ngIf="!this.ml5jsService.classify">
  <div class="row">
    <div class="row">
      <label class="labelRow auto_width" *ngIf="this.ml5jsService.selectedModel.type === 'NeuralNetwork' && this.ml5jsService.selectedModel.options.task === 'regression'">Output variable</label>
      <label class="labelRow auto_width" *ngIf="this.ml5jsService.selectedModel.type === 'NeuralNetwork' && this.ml5jsService.selectedModel.options.task === 'classification'">Classifiers</label>
      <button class="add labelRowItem" (click)="this.ml5jsService.addClassifier()" title="add new classifier">Add</button>
    </div>
    <ul id="data_output_list" class="classifiers">
      <li *ngFor="let classifier of this.ml5jsService.selectedModel.outputs; let i=index;" class="dataSet">
        <div class="row inset">
          <div class="opencloseArrow" [ngClass]="{ open: classifier.open }" (click)="classifier.open = !classifier.open"><div></div></div>
          <input type="text" class="nextToArrow classifier_input" id="classifier-{{ i }}" value="{{ classifier.name }}" name="classifier-{{ i }}" (change)="this.ml5jsService.updateClassifier(i)">

          <div class="buttonPlayWindow dataSetList" (click)="this.ml5jsService.deleteClassifier(i)" title="delete">
            <img src="./assets/icons/buttons/bin.svg">
          </div>
          <div class="buttonPlayWindow dataSetList" (click)="this.ml5jsService.addLabelToClassifier(i)" title="add label">
            +
          </div>

        </div>
        <ul *ngIf="classifier.open">
          <li *ngFor="let label of classifier.labels; let i=index;" class="values" class="data-list-{{ i }}-row">
            <div class="row flexbox-row-even">
              <input type="text" class="list-item" id="{{ classifier.name }}-label-{{ i }}" value="{{ label.name }}" name="{{ classifier.name }}-label-{{ i }}" (change)="this.ml5jsService.updateClassifierLabel(classifier.name, i)">
              <div class="buttonPlayWindow dataSetList text-button" (click)="this.ml5jsService.deleteLabel(classifier.name, i)" title="delete label">
                -
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="row margin-top-10">
      <label class="labelRow auto_width">Filters</label>
    </div>
    <div class="row">
      <select class="form-control playWindow" id="filterTypes" name="filterTypes" [(ngModel)]="this.filterService.selectedFilter">
        <option *ngFor="let item of this.filterService.filterTypes" [ngValue]="item">{{ item.name }}</option>
      </select>
      <button class="add" id="select-filter" (click)="this.filterService.addFilter()" title="add new filter">Add</button>
    </div>
    <ul id="data_output_list" class="results">
      <li *ngFor="let filter of this.ml5jsService.selectedModel.filters" class="dataSet">
        <div class="row inset">
          <div class="opencloseArrow" [ngClass]="{ open: filter.open }" (click)="filter.open = !filter.open"><div></div></div>
          <label class="labelRow nextToArrow align-left">{{ filter.type.name }}</label>
          <!-- <input type="text" class="nextToArrow" id="filter-{{ filter.id }}" value="{{ filter.type.name }}" name="filter-{{ filter.id }}" disabled> -->
          <div class="buttonPlayWindow dataSetList text-button" (click)="this.ml5jsService.deleteFilter(filter.id)" title="delete filter">
            -
          </div>
        </div>

        <ul *ngIf="filter.open">
          <li>
            <div class="row flexbox-row-even">
              <label class="label">classifier</label>
              <select class="form-control playWindow" id="classifier-filter" name="classifier-filter" [(ngModel)]="filter.classifier">
                <option *ngFor="let classifier of this.ml5jsService.selectedModel.outputs" [ngValue]="classifier">{{ classifier.name }}</option>
              </select>
            </div>
          </li>

          <li *ngIf="filter.classifier">
            <div class="row"*ngFor="let label of filter.classifier.labels; let i = index">
              <div class="row flexbox-row-even" >
                <label class="label"><div class="question-mark" title="{{ filter.type.explanation }}">?</div>{{ label.name }}</label>
                <input type="number" class="number small blue" id="label-filter-{{ label.name }}-{{ filter.id }}" [(ngModel)]="filter.functionVariable.value[i]" name="label-filter-{{ label.name }}-{{ filter.id }}">
                <span class="units">%</span>
              </div>
              <div class="row" *ngIf="filter.type.name === 'amplify'">
                <input type="range" class="html-slider" id="{{ label.name }}-{{ filter.id }}" name="min-{{ label.name }}-{{ filter.id }}" [(ngModel)]="filter.functionVariable.value[i]" min="-100" max="100">
              </div>
              <div class="row" *ngIf="filter.type.name !== 'amplify'">
                <input type="range" class="html-slider" id="{{ label.name }}-{{ filter.id }}" name="min-{{ label.name }}-{{ filter.id }}" [(ngModel)]="filter.functionVariable.value[i]" min="0" max="100">
              </div>
            </div>
            <div class="row" *ngIf="this.ml5jsService.selectedModel && this.ml5jsService.selectedModel.type === 'NeuralNetwork' && this.ml5jsService.selectedModel.options.task === 'classification'">
              <!-- <label class="radio-container"><div class="question-mark" title="select to interpolate values between classifiers based on confidence level, default: discrete changes based on highest confidence level">?</div>Interpolate
                <input type="checkbox" class="type" id="interpolate" name="interpolate" [(ngModel)]="filter.type.interpolate" [checked]="filter.type.interpolate">
                <span class="checkmark radio ml5js"></span>
              </label> -->
              <label class="label"><div class="question-mark" title="instant (low) to gradual change (high)">?</div>Smoothness</label>
              <input type="number" class="number small" id="interpolate-value-{{ filter.id }}" [(ngModel)]="filter.type.interpolate" name="interpolate-value-{{ filter.id }}" disabled>
              <div class="row">
                <input type="range" class="html-slider" id="interpolate-{{ filter.id }}" name="interpolate-{{ filter.id }}" [(ngModel)]="filter.type.interpolate" min="1" max="20">
              </div>

            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>




<div id="results" class="row" *ngIf="this.ml5jsService.classify">

  <label class="labelRow auto_width">Results</label>

  <ul id="data_output_list" class="results">
    <li *ngFor="let classifier of this.ml5jsService.selectedModel.outputs">
      <ul>
        <li *ngFor="let label of classifier.labels; let i=index;">
          <label class="label label-title">{{ label.name }}</label>
          <div class="bar-container"><div class="bar" id="bar-{{ classifier.name }}-{{ label.name }}"></div></div>
          <span class="confidence" id="confidence-{{ classifier.name }}-{{ label.name }}"></span>
        </li>
      </ul>
    </li>
  </ul>

  <label class="labelRow auto_width">Filters</label>

  <ul id="data_output_list" class="results">
    <li *ngFor="let filter of this.ml5jsService.selectedModel.filters">
      <label class="label label-title">{{ filter.type.name }}</label>
      <div class="buttonPlayWindow dataSetList text-button" (click)="this.ml5jsService.deleteFilter(filter.id)" title="delete filter">
        -
      </div>
    </li>
  </ul>
</div>
