<div id="details-window" [ngClass]="{ large: detailsVisible }">
  <div class="toolbar-header">
    <div class="toolbar-title">
      <div class="opencloseArrow" [ngClass]="{ open: detailsVisible }" (click)="detailsVisible = !detailsVisible"><div></div></div>
      Details
    </div>
    <ul class="tabContent feelixioSidebar" id="outer" *ngIf="this.config.activeComponent !== null">

      <li *ngIf="this.config.activeComponent.feelixio === 'component'">
        <div class="form-group">
          <div class="row">
            <label class="labelRow" for="name">Component</label>
            <input type="text" disabled class="form-control" [(ngModel)]="this.config.activeComponent.type" name="name">
          </div>
        </div>
        <div class="horizontalSeparator"></div>

        <div *ngFor="let inputPar of this.config.activeComponent.parameters.input">

          <div *ngIf="(!this.config.activeComponent.component.operator || this.config.activeComponent.type === 'repeat'
            || this.config.activeComponent.type === 'map' || this.config.activeComponent.type === 'constrain') &&
              this.config.activeComponent.type !== 'linear' && inputPar.defaultVal">

            <div class="form-row" *ngIf="inputPar.defaultVal && inputPar.defaultVal.type && inputPar.name && inputPar.name !== '' &&
              this.config.activeComponent.type !== 'angle' && this.config.activeComponent.type !== 'position' && inputPar.name !== 'Input'">
              <label class="label">{{ inputPar.name }}</label>

              <label class="label switchRow" *ngIf="inputPar.name !== 'Time' && inputPar.name !== 'Spacing'
                && inputPar.defaultVal.units && inputPar.defaultVal.units.name">
                {{ inputPar.defaultVal.units.name }}</label>
              <div class="inline" *ngIf="inputPar.name === 'Time' || this.config.activeComponent.type === 'repeat' ||
                this.config.activeComponent.type === 'map' || this.config.activeComponent.type === 'constrain'">
                <input type="number" class="form-control" name="value" (change)="updateDetails()" step="0.001"
                  [(ngModel)]="inputPar.defaultVal.type.val" (mousedown)="this.config.activeInput = true">
                <div class="unitSymbol" *ngIf="inputPar.defaultVal.units && inputPar.defaultVal.units.symbol"
                  [innerHtml]="inputPar.defaultVal.units.symbol"></div>
              </div>
            </div>


            <div class="form-row" *ngIf="this.config.activeComponent.type !== 'timer' && inputPar.defaultVal &&
                                        inputPar.defaultVal.category && inputPar.defaultVal.category.units.name === 'category'">
              <label class="label select playWindow">{{ inputPar?.defaultVal?.category?.units?.symbol }}</label>
              <select class="form-control" class="playWindow" size="inputPar?.defaultVal?.category?.categoryOptions.length"
                [(ngModel)]="inputPar.defaultVal.category.val" name="categoryOption" (change)="updateDetails()">
                <option *ngFor="let category of inputPar?.defaultVal?.category?.categoryOptions" [ngValue]="category">
                  {{ category }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="this.config.activeComponent.type === 'custom'">
          <div class="form-row">
            <label class="label" for="name"
              title='identifier for communication, use e.g. Serial.println((String) "V" + {{ this.config.activeComponent.parameters.output[0].id }} + ":" + variable)"'>Identifier</label>
            <input type="number" class="form-control" [(ngModel)]="this.config.activeComponent.parameters.output[0].id" name="index"
              (mousedown)="this.config.activeInput = true" (change)="updateDetails()">
          </div>
        </div>

        <div *ngIf="this.config.activeComponent.type === 'linear'">
          <!-- <div class="form-row">
            <label class="labelRow subtitle">Input parameter</label>
            <ul>
              <li *ngFor="let parameter of this.config.activeComponent.parameters.input">
                <div class="row">
                  <label class="switch parameter">
                    <input type="checkbox" [(ngModel)]="!parameter.hidden" name="hide-{{ parameter.name }}" class="toggle" (change)="updateDetailsCheckBox(parameter)">
                    <span class="toggleSlider round"></span>
                  </label>
                  <label class="label switchRow" [ngClass]="{ hidden: parameter.hidden }">{{ parameter.name }}</label>
                </div>
              </li>
            </ul>
          </div> -->
          <div *ngFor="let inputPar of this.config.activeComponent.parameters.input">
            <div *ngIf="!inputPar.hidden && inputPar.name !== 'Position'">
              <div class="form-row">
                <label class="labelRow subtitle">{{ inputPar.name }}</label>
              </div>

              <div class="form-row" *ngIf="inputPar.defaultVal && inputPar.defaultVal.type">
                <label class="label">Min</label>
                <input type="number" class="form-control autowidth" name="min"
                  [(ngModel)]="inputPar.defaultVal.type.start" (mousedown)="this.config.activeInput = true" (change)="updateInputParameter()">
                  <div class="unitSymbol" *ngIf="inputPar.defaultVal.units && inputPar.defaultVal.units.symbol"
                    [innerHtml]="inputPar.defaultVal.units.symbol"></div>
              </div>

              <div class="form-row" *ngIf="inputPar.defaultVal && inputPar.defaultVal.type">
                <label class="label">Max</label>
                <input type="number" class="form-control autowidth" name="max"
                  [(ngModel)]="inputPar.defaultVal.type.end" (mousedown)="this.config.activeInput = true" (change)="updateInputParameter()">
                  <div class="unitSymbol" *ngIf="inputPar.defaultVal.units && inputPar.defaultVal.units.symbol"
                    [innerHtml]="inputPar.defaultVal.units.symbol"></div>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="(this.config.activeComponent.type === 'map' || this.config.activeComponent.type === 'constrain')">
          <div *ngFor="let outputPar of this.config.activeComponent.parameters.output">
            <div class="form-row" *ngIf="outputPar.defaultVal && outputPar.defaultVal.type">
              <label class="label">{{ outputPar.name }}</label>

              <label class="label switchRow" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.name">
                {{ outputPar.defaultVal.units.name }}</label>
              <div class="inline">
                <input type="number" class="form-control" name="value" (change)="updateDetails()" step="0.001"
                  [(ngModel)]="outputPar.defaultVal.type.val">
                <div class="unitSymbol" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.symbol"
                  [innerHtml]="outputPar.defaultVal.units.symbol"></div>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let outputPar of this.config.activeComponent.parameters.output">
          <div *ngIf="!this.config.activeComponent.component.operator && outputPar.defaultVal">

            <div *ngIf="(this.config.activeComponent.type === 'linear')">
              <div *ngFor="let inputPar of this.config.activeComponent.parameters.output">
                <div class="form-row">
                  <label class="labelRow subtitle">Intensity (output)</label>
                </div>
              </div>
            </div>

            <div class="form-row"
              *ngIf="this.config.activeComponent.type === 'slider' || this.config.activeComponent.type === 'linear'">
              <label class="label">Min</label>
              <input type="number" class="form-control autowidth" name="min"
                [(ngModel)]="outputPar.defaultVal.type.start" (mousedown)="this.config.activeInput = true" (change)="updateDetails()">
                <div class="unitSymbol" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.symbol && this.config.activeComponent.type !== 'linear'"
                  [innerHtml]="outputPar.defaultVal.units.symbol"></div>
                <div class="unitSymbol" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.symbol && this.config.activeComponent.type === 'linear'">%</div>
            </div>

            <div class="form-row"
              *ngIf="this.config.activeComponent.type === 'slider' || this.config.activeComponent.type === 'linear'">
              <label class="label">Max</label>
              <input type="number" class="form-control autowidth" name="max"
                [(ngModel)]="outputPar.defaultVal.type.end" (mousedown)="this.config.activeInput = true" (change)="updateDetails()">
                <div class="unitSymbol" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.symbol && this.config.activeComponent.type !== 'linear'"
                  [innerHtml]="outputPar.defaultVal.units.symbol"></div>
                <div class="unitSymbol" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.symbol && this.config.activeComponent.type === 'linear'">%</div>
            </div>

            <div class="form-row" *ngIf="outputPar.defaultVal && outputPar.defaultVal.type && this.config.activeComponent.type !== 'linear'">
              <label class="label">Value</label>
              <input type="number" class="form-control autowidth" name="value" (change)="updateDetails()" step="0.001"
                [(ngModel)]="outputPar.defaultVal.type.val" (mousedown)="this.config.activeInput = true">
                <div class="unitSymbol" *ngIf="outputPar.defaultVal.units && outputPar.defaultVal.units.symbol"
                  [innerHtml]="outputPar.defaultVal.units.symbol"></div>
            </div>

            <!-- <div class="form-row" *ngIf="outputPar.defaultVal && outputPar.defaultVal.decimals !== null">
              <label class="label">Decimals</label>
              <input type="number" class="form-control" name="decimals" (change)="updateDetails()"
                [(ngModel)]="outputPar.defaultVal.decimals">
            </div> -->

            <div class="form-row" *ngIf="this.config.activeComponent.type === 'custom'">
              <label class="label select playWindowSmall">Port</label>
              <select class="form-control" class="playWindowSmall" [(ngModel)]="this.config.activeComponent.port"
                name="customVarComport" (change)="updateDetails()" [compareWith]="compareCOMPort">
                <option *ngFor="let device of this.registeredDevices" [ngValue]="device">{{ device.serialPort.path }}</option>
              </select>
            </div>


            <div class="form-row" *ngIf="outputPar.defaultVal && outputPar.defaultVal.type && outputPar.defaultVal.type.unitOptions.length > 1">
              <label class="label select playWindow">Units</label>
              <select class="form-control" class="playWindow" [(ngModel)]="outputPar.defaultVal.units"
                name="unitOption" (change)="updateDetails()" [compareWith]="compareUnits">
                <option *ngFor="let unitOption of outputPar?.defaultVal?.type?.unitOptions" [ngValue]="unitOption">
                  {{ unitOption.name }}</option>
              </select>
            </div>

            <div class="form-row" *ngIf="(outputPar.defaultVal.category && outputPar.defaultVal.units.name === 'category' &&
                                         this.config.activeComponent.type !== 'timer') || this.config.activeComponent.type === 'custom'">
              <label class="label select playWindow">{{ outputPar?.defaultVal?.category?.units?.symbol }}</label>
              <select class="form-control" class="playWindow"
                [(ngModel)]="outputPar.defaultVal.category.val" name="categoryOption" (change)="updateDetails()">
                <option *ngFor="let category of outputPar?.defaultVal?.category?.categoryOptions" [ngValue]="category">
                  {{ category }}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="text-button" *ngIf="this.config.activeComponent.type === 'timer'"
          (click)="startTimer(this.config.activeComponent)">Start</div>
        <div class="text-button" *ngIf="this.config.activeComponent.type === 'timer'"
          (click)="resetTimer(this.config.activeComponent)">Reset</div>


        <div *ngIf="this.config.activeComponent.component.operator || this.config.activeComponent.type === 'switch' ||
          this.config.activeComponent.type === 'play'">

          <div class="form-row" *ngIf="this.config.activeComponent.type === 'operator' || this.config.activeComponent.type === 'arithmetic'">
            <label class="label select playWindow">Type</label>
            <select class="form-control" class="playWindow" [(ngModel)]="this.config.activeComponent.component.operator"
              name="type" (change)="updateDetails()" [compareWith]="compareUnits">
              <option *ngFor="let operator of this.config.activeComponent.component.unitOptions" [ngValue]="operator">
                {{ operator.name }}</option>
            </select>
          </div>

          <div class="form-row" *ngIf="this.config.activeComponent.type === 'arithmetic' ||
            this.config.activeComponent.type === 'switch' || this.config.activeComponent.type === 'play'">
            <label class="label">Number of Inputs</label>
            <input type="number" class="form-control" name="value" (mousedown)="this.config.activeInput = true"
              (change)="updateParameter(this.config.activeComponent.parameters)" [(ngModel)]="this.config.activeComponent.parameters.input.length">
          </div>

        </div>
      </li>

      <!-- motor component details -->

      <li *ngIf="this.config.activeComponent.slug === 'motor'">
        <div class="form-group">
          <label class="labelRow" for="name">Motor</label>
          <input type="text" class="form-control" id="motorId" disabled
            [(ngModel)]="this.config.activeComponent.motorID">
        </div>
        <div class="horizontalSeparator"></div>
        <div class="form-row">
          <label class="labelRow playWindow">Port</label>
          <input type="text" class="form-control" id="motorId" disabled name="port"
            [(ngModel)]="this.config.activeComponent.microcontroller.serialPort.path">
        </div>

        <div class="form-row">
          <label class="label select playWindow">Units</label>
          <select class="form-control playWindow"
            [(ngModel)]="this.config.activeComponent.microcontroller.motor.encoder"
            name="unitsMotor" (change)="updateMotor(this.config.activeComponent)" [compareWith]="compareUnits">
            <option *ngFor="let unit of unitOptions" [ngValue]="unit">{{ unit.name }}</option>
          </select>
        </div>
        <div class="form-row"
          *ngIf="this.config.activeComponent.microcontroller.motor.encoder.name === 'custom'">
          <label class="label">Points per revolution</label>
          <input type="number" id="PR" name="PR" (change)="updateMotor(this.config.activeComponent)" (mousedown)="this.config.activeInput = true"
            [(ngModel)]="this.config.activeComponent.microcontroller.motor.encoder.PR">
        </div>

        <div class="form-group">
          <div class="row">
            <label class="label">Frequency</label>
            <input type="number" class="form-control" name="frequency" id="start" (mousedown)="this.config.activeInput = true"
              [(ngModel)]="this.config.activeComponent.microcontroller.motor.frequency"
              (change)="updateMotor(this.config.activeComponent)">
          </div>
          <div class="row-slider">
            <div class="slider">
              <input type="range" class="html-slider" [min]="100" [max]="600" step="1"
                [(ngModel)]="this.config.activeComponent.microcontroller.motor.frequency"
                (change)="updateMotor(this.config.activeComponent)">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="labelRow fullwidth">Position</label>
          <div class="row">
            <label class="label">Start</label>
            <input type="number" class="form-control" id="start" (mousedown)="this.config.activeInput = true"
              [(ngModel)]="this.config.activeComponent.microcontroller.motor.position.start"
              (change)="updateMotor(this.config.activeComponent)">
          </div>
          <div class="row margin-bottom">
            <label class="label">Current</label>
            <input type="number" class="form-control" id="current_{{ this.config.activeComponent.motorID }}" disabled
              value="{{ this.config.activeComponent.microcontroller.motor.position.current }}">
          </div>
        </div>

        <div class="form-group">
          <label class="labelRow fullwidth">Calibration</label>
          <div class="row">
            <label class="label">Value</label>
            <input type="number" class="form-control large"
              id="calibration_val_{{ this.config.activeComponent.microcontroller.serialPort.path }}" step=".0000000001" disabled
              value="{{ this.config.activeComponent.microcontroller.motor.calibration.xStartPos }}">
          </div>
          <div class="row">
            <label class="label select playWindow">Direction</label>
            <select class="form-control" name="calibrationDirection"
              [(ngModel)]="this.config.activeComponent.microcontroller.motor.calibration.direction"
              (change)="updateMotor(this.config.activeComponent)">
              <option *ngFor="let direction of directionOptions" [ngValue]="direction.name">{{ direction.name }}
              </option>
            </select>
          </div>
          <div class="text-button" (click)="calibrateMotor(this.config.activeComponent)">Calibrate motor</div>
          <!-- <div class="text-button" (click)="saveToEEPROM(this.config.activeComponent)">Save to EEPROM</div> -->
          <div class="horizontalSeparator"></div>

          <div class="form-row">
            <div class="row">
              <label class="radio-container">radial to linear
                  <input type="checkbox" class="type" id="linear" name="rotation-linear"
                  [(ngModel)]="this.config.activeComponent.microcontroller.motor.rotation.linear" [checked]="this.config.activeComponent.microcontroller.motor.rotation.linear">
                  <span class="checkmark radio playwindow"></span>
              </label>
            </div>
            <div class="row" *ngIf="this.config.activeComponent.microcontroller.motor.rotation.linear">
              <input type="number" class="small labelInput" id="translation" name="translation" (mousedown)="this.config.activeInput = true"
                [(ngModel)]="this.config.activeComponent.microcontroller.motor.rotation.translation.radial.value">
              <select class="form-control" class="playWindowSmall" [(ngModel)]="this.config.activeComponent.microcontroller.motor.rotation.translation.radial.units" name="unitsRadial"
                [compareWith]="compareUnits" (change)="updateMotor(this.config.activeComponent.microcontroller.motor)">
                <option *ngFor="let unit of radialOptions" [ngValue]="unit">{{ unit.name }}</option>
              </select>
              <span class="span-text"> : </span>
              <input type="number" class="small labelInput" id="translation" name="translation" (mousedown)="this.config.activeInput = true"
                [(ngModel)]="this.config.activeComponent.microcontroller.motor.rotation.translation.linear.value">
              <select class="form-control" class="playWindowSmall" [(ngModel)]="this.config.activeComponent.microcontroller.motor.rotation.translation.linear.units" name="unitsLinear"
                [compareWith]="compareUnits" (change)="updateMotor(this.config.activeComponent.microcontroller.motor)">
                <option *ngFor="let unit of linearOptions" [ngValue]="unit">{{ unit.name }}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <label class="labelRow fullwidth">Transmission</label>
            <div class="row">
              <label class="label">1 rotation : </label>
              <input type="number" class="small" id="transmission" name="transmission" (mousedown)="this.config.activeInput = true" [(ngModel)]="this.config.activeComponent.microcontroller.motor.transmission">
              <span class="span-text"> rotation</span>
              <!-- <span class="span-text" *ngIf="microcontroller.motor.encoder.name === 'degrees'">degrees</span> -->
              <!-- <span class="span-text" *ngIf="microcontroller.motor.encoder.name !== 'degrees'">PPR</span> -->
            </div>
          </div>
        </div>


        <div class="horizontalSeparator"></div>

        <label class="labelRow subtitle">Output parameters</label>
        <ul>
          <li *ngFor="let parameter of this.config.activeComponent.parameters.output">
            <div class="row" *ngIf="parameter.name !== null && parameter.name !== 'play'">
              <label class="switch parameter">
                <div *ngIf="!parameter.required">
                  <input type="checkbox" [(ngModel)]="!parameter.hidden" name="hide-{{ parameter.name }}" class="toggle" (change)="updateDetailsCheckBox(parameter)">
                  <span class="toggleSlider round"></span>
                </div>
              </label>
              <label class="label switchRow" [ngClass]="{ hidden: parameter.hidden }">{{ parameter.name }}</label>
              <div class="unitSymbol" *ngIf="parameter.hidden && parameter.defaultVal && parameter.units &&
              parameter.defaultVal.units.name && parameter.defaultVal.units.name !== 'category' && parameter.defaultVal.units.symbol"
                [innerHtml]="parameter.defaultVal.units.symbol"></div>
              <!-- <label class="label switchRow hidden" *ngIf="parameter.value !== null">{{ parameter.units }}</label> -->
            </div>
          </li>
        </ul>

        <div class="horizontalSeparator"></div>

        <label class="labelRow subtitle">Send data to other devices</label>
        <div class="row">
          <ul *ngIf="this.config.activeComponent.microcontroller.dataToOtherDevices">
            <li *ngFor="let device of this.config.activeComponent.microcontroller.dataToOtherDevices">
              <div class="row">
                <div class="column left"><label class="labelRow">{{ device.serialPort.path }}</label></div>
                <input type="number" class="small labelInput" id="updateSpeed" name="updateSpeed" min="20" [(ngModel)]="device.updateSpeed"
                  (change)="updateMicrocontroller(this.config.activeComponent.microcontroller)" (mousedown)="this.config.activeInput = true"><div class="span-text">ms</div>

                <div class="button dataSend-button" id="sendPosition" [ngClass]="{ active: device.position }"
                (click)="device.position = !device.position; updateMicrocontroller(this.config.activeComponent.microcontroller)" title="send motor position">
                  <img src="./assets/icons/buttons/position-data.svg"></div>
                <div class="button dataSend-button" id="sendSpeed" [ngClass]="{ active: device.speed }"
                 (click)="device.speed = !device.speed; updateMicrocontroller(this.config.activeComponent.microcontroller)" title="send motor speed">
                  <img src="./assets/icons/buttons/speed-data.svg"></div>
                <div class="button dataSend-button" id="sendDirection" [ngClass]="{ active: device.direction }"
                 (click)="device.direction = !device.direction; updateMicrocontroller(this.config.activeComponent.microcontroller)" title="send motor direction">
                  <img src="./assets/icons/buttons/direction-data.svg"></div>
                <div class="button" (click)="deleteFromOtherDeviceList(this.config.activeComponent.microcontroller, device)" title="delete"><img src="./assets/icons/buttons/bin.svg"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="form-row">
          <label class="label select playWindowSmall">Add port</label>
          <select class="form-control" class="playWindowSmall" [(ngModel)]="this.selectedDevice"
            name="deviceOption" (change)="updateDetails()" [compareWith]="compareCOMPort">
            <option *ngFor="let device of this.registeredDevices" [ngValue]="device">{{ device.serialPort.path }}</option>
          </select>
          <div class="text-button" (click)="addDeviceToList(this.config.activeComponent.microcontroller)">add</div>
        </div>

      </li>

      <!-- effect component details -->

      <li *ngIf="this.config.activeComponent.feelixio === 'effect'">
        <div class="form-group">
          <div class="row">
            <label class="labelRow" for="name">Effect</label>
            <input type="text" class="form-control" id="name"
              [(ngModel)]="this.config.activeComponent.effect.interface.name" name="name">
          </div>
        </div>

        <div class="horizontalSeparator"></div>

        <label class="labelRow subtitle">Input parameters</label>
        <ul>
          <li *ngFor="let parameter of this.config.activeComponent.parameters.input">

            <div class="row">
              <label class="switch parameter">
                <div *ngIf="!parameter.required">
                  <input type="checkbox" [(ngModel)]="!parameter.hidden" name="parameter-{{ parameter.name }}"
                    class="toggle" (change)="updateDetailsCheckBox(parameter)">
                  <span class="toggleSlider round"></span>
                </div>
              </label>
              <div class="label switchRow" [ngClass]="{ hidden: parameter.hidden }">{{ parameter.name }}</div>

              <div class="label switchRow defaultValue" *ngIf="parameter.hidden && parameter.defaultVal && parameter.defaultVal.type"
                [innerHtml]="parameter.defaultVal.type.val + ' ' + parameter.defaultVal.units.symbol"></div>

              <div class="label switchRow defaultValue" *ngIf="parameter.hidden && parameter.defaultVal && parameter.defaultVal.category">
                {{ parameter.defaultVal.category.val }}</div>

              <div class="label switchRow defaultValue" *ngIf="!parameter.hidden && parameter.value && parameter.value.type && parameter.value.units"
                [innerHtml]="parameter.value.type.val + ' ' + parameter.value.units.symbol"></div>

              <div class="label switchRow defaultValue" *ngIf="!parameter.hidden && parameter.value && parameter.value.category">
                {{ parameter.value.category.val }}</div>
            </div>
            <div class="row offsetLeftTextField" *ngIf="parameter.hidden && parameter.defaultVal && parameter.defaultVal.type && parameter.defaultVal.type.start">
              <label class="switch parameter"></label>
              <div class="label switchRow defaultValue" [innerHtml]="parameter.defaultVal.type.val + ' ' + parameter.defaultVal.units.symbol"></div>
            </div>
          </li>
        </ul>

        <div class="horizontalSeparator" *ngIf="this.config.activeComponent.effect.type === 'normal'"></div>

        <div class="form-group" *ngIf="this.config.activeComponent.effect.type === 'normal'">
          <div class="row">
            <label class="labelRow" for="name">Quality</label>
            <input type="text" class="form-control" name="motorQuality" id="motorQuality" disabled
              [(ngModel)]="this.config.activeComponent.effect.details.quality.name">
          </div>
          <div class="row-slider">
            <div class="slider">
              <input type="range" class="html-slider" [min]="0" [max]="3" step="1" name="qualityLevel"
                [(ngModel)]="this.config.activeComponent.effect.details.quality.level"
                (change)="changeQuality(this.config.activeComponent.effect)">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="serial-connections-window" [ngClass]="{ large: serialConnectionsVisible }">
  <div class="toolbar-header">
    <div class="toolbar-title">
      <div class="opencloseArrow" [ngClass]="{ open: serialConnectionsVisible }"
        (click)="serialConnectionsVisible = !serialConnectionsVisible"><div></div></div>
      Serial Connections
    </div>
      <!-- <label class="labelRow">Motors</label> -->
      <ul class="tabContent feelixioSidebar" id="outer">
        <li>
          <div class="add-button" (click)="addSerialConnection('motor')" title="Add motor"><img src="./assets/icons/buttons/add.svg"></div>
          <label class="labelRow subtitle">Motors</label>

        </li>
        <li *ngFor="let microcontroller of this.microcontrollers">
          <div class="row">
            <div class="column left">
              <label class="labelRow" [ngClass]="{ connected: microcontroller.connected }">{{ microcontroller.serialPort.path }}</label>
            </div>
            <div class="column right">
              <ul>
                <li [ngClass]="{ connected: microcontroller.connected }">
                  <div class="span-text" id="position_{{ microcontroller.serialPort.path }}" [ngClass]="{ disconnected: !microcontroller.connected }">
                    {{ microcontroller.motor.position.current }} ppr</div>
                  <div class="span-text" id="speed_{{ microcontroller.serialPort.path }}" [ngClass]="{ disconnected: !microcontroller.connected }">
                    {{ microcontroller.motor.speed }} rpm</div>

                  <div class="button serialConnection" (click)="this.deleteMicrocontroller(microcontroller)"><img src="./assets/icons/buttons/bin.svg"></div>
                  <div class="button serialConnection" (click)="this.connectToMicrocontroller(microcontroller, !microcontroller.connected)" *ngIf="microcontroller.connected"><img src="./assets/icons/align/link.svg"></div>
                  <div class="button serialConnection" (click)="this.connectToMicrocontroller(microcontroller, !microcontroller.connected)" *ngIf="!microcontroller.connected"><img src="./assets/icons/align/unlink.svg"></div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="add-button" (click)="addSerialConnection('custom')" title="Add device"><img src="./assets/icons/buttons/add.svg"></div>
          <label class="labelRow subtitle">Other Devices</label>

        </li>
        <li *ngFor="let device of this.registeredDevices">
          <div class="row">
            <div class="column left">
              <label class="labelRow" [ngClass]="{ connected: device.connected }">{{ device.serialPort.path }}</label>
            </div>
          </div>
          <div class="column right">
            <ul>
              <li [ngClass]="{ connected: device.connected }">
                <div class="span-text" id="device_name" [ngClass]="{ disconnected: !device.connected }">{{ device.name }}</div>
                <div class="span-text" id="device_baudrate" [ngClass]="{ disconnected: !device.connected }">{{ device.baudrate }}</div>

                <div class="button serialConnection" (click)="this.deleteDevice(device)"><img src="./assets/icons/buttons/bin.svg"></div>
                <div class="button serialConnection" (click)="this.connectToDevice(device, false)" *ngIf="device.connected"><img src="./assets/icons/align/link.svg"></div>
                <div class="button serialConnection" (click)="this.connectToDevice(device, true)" *ngIf="!device.connected"><img src="./assets/icons/align/unlink.svg"></div>
              </li>
            </ul>

          </div>
        </li>
      </ul>
  </div>
</div>


<div id="components-window" [ngClass]="{ small: detailsVisible && !serialConnectionsVisible,
    middle: !detailsVisible && serialConnectionsVisible, large: !detailsVisible && !serialConnectionsVisible  }">
  <div class="tabs">
    <ul class="tabsContainer" id="tablist">
      <li *ngFor="let tab of tabs" id="tab-{{ tab.id }}" [ngClass]="{ active: tab.selected, disabled: tab.disabled }"
        (click)="selectTab(tab.id);">{{ tab.name }}</li>
    </ul>
    <div class="scroll-arrows">
      <div (click)="scroll(1)">
        <div class="arrow-button left"></div>
      </div>
      <div (click)="scroll(-1)">
        <div class="arrow-button right"></div>
      </div>
    </div>
  </div>
  <ul class="tabContent" id="outer">

    <!-- normal tab -->

    <div class="innerContent" id="inner" [hidden]="activeTab !== 0">
      <li class="blockContent" *ngFor="let item of tabs[0].contentData"
        [ngStyle]="{'background': item.interface.colors[0].hash }">

        <div class="bgImage {{ item.type }}" *ngIf="item.type !== 'ease'"><img src="{{ item.interface.icon }}"></div>
        <div class="easePath" id="nodePath-module-{{ item.id }}" *ngIf="item.type === 'ease'"></div>
        <div class="title" *ngIf="item.interface !== undefined">{{ item.interface.name }}</div>
        <div class="overlay" id="overlay-{{ item.id }}"></div>
        <div class="dragOverlay" id="dragOverlay-{{ item.id }}" draggable="true"
          (dragstart)="dragstartLib(item, 'effect', 'overlay')" (dragend)="dragendLib(item.id, 'overlay')"
          (mouseup)="dragendLib(item.id, 'overlay')"></div>
      </li>
    </div>

    <!-- library tab -->

    <div class="innerContent" id="inner" [hidden]="activeTab !== 1">
      <li class="blockContent large" *ngFor="let item of tabs[1].contentData">
        <div class="rowDetails">
          <div class="title">{{ item.interface.name }}</div>
        </div>

        <div class="row no-pointer">
          <div id="effectSVG-{{ item.id }}" class="effectSVG"></div>
          <div class="buttonsPlayWindow">
            <div class="buttonPlayWindow delete" (click)="editLibraryItem(item)">
              <img src="./assets/icons/buttons/edit.svg">
            </div>
            <div class="buttonPlayWindow delete" (click)="deleteLibraryItem(item.id)">
              <img src="./assets/icons/buttons/bin.svg">
            </div>
          </div>
          <div class="overlayEffect" id="overlayEffect-{{ item.id }}"></div>
          <div class="dragOverlayEffect" id="dragOverlayEffect-{{ item.id }}" draggable="true"
            (dragstart)="dragstartLib(item, 'effect')" (dragend)="dragendLib(item.id)" (mouseup)="dragendLib(item.id)">
          </div>
        </div>
      </li>
    </div>

    <!-- time effects tab -->

    <div class="innerContent" id="inner" [hidden]="activeTab !== 2">
      <li class="blockContent large" *ngFor="let item of tabs[2].contentData">
        <div class="rowDetails">
          <div class="title">{{ item.interface.name }}</div>
        </div>

        <div class="row no-pointer">
          <div id="effectSVG-{{ item.id }}" class="effectSVG"></div>
          <div class="buttonsPlayWindow">
            <div class="buttonPlayWindow delete" (click)="editLibraryItem(item)">
              <img src="./assets/icons/buttons/edit.svg">
            </div>
            <div class="buttonPlayWindow delete" (click)="deleteLibraryItem(item.id)">
              <img src="./assets/icons/buttons/bin.svg">
            </div>
          </div>
          <div class="overlayEffect" id="overlayEffect-{{ item.id }}"></div>
          <div class="dragOverlayEffect" id="dragOverlayEffect-{{ item.id }}" draggable="true"
            (dragstart)="dragstartLib(item, 'effect')" (dragend)="dragendLib(item.id)" (mouseup)="dragendLib(item.id)">
          </div>
        </div>

      </li>
    </div>

    <!-- parameters tab -->

    <div class="innerContent" id="inner" [hidden]="activeTab !== 3">
      <li class="blockContent" *ngFor="let item of tabs[3].contentData" [ngStyle]="{'background': '#808184' }">
        <div class="bgImage componentIcons"><img src="{{ item.icon }}"></div>
        <div class="title">{{ item.type }}</div>
        <div class="overlay" id="overlay-{{ item.type }}"></div>
        <div class="dragOverlay" id="dragOverlay-{{ item.type }}" draggable="true"
          (dragstart)="dragstartLib(item, 'component', 'overlay')" (dragend)="dragendLib(item.type, 'overlay')"
          (mouseup)="dragendLib(item.type, 'overlay')"></div>
      </li>
    </div>


    <!-- Motors tab -->

    <div class="innerContent" id="inner" *ngIf="activeTab === 4">
      <li class="blockContent large motor" *ngFor="let microcontroller of this.microcontrollers">
        <ul>
          <li>
            <div class="row">
              <div class="icon"><img src="./assets/images/motor.svg"></div>
              <div class="details">
                <p class="main">{{ microcontroller.serialPort.path }}</p>
                <p class="sub">{{ microcontroller.type }}</p>
              </div>
            </div>
            <div class="overlayEffect" id="overlayEffect-{{ microcontroller.id }}-{{ microcontroller.motor.id }}"></div>
            <div class="dragOverlayEffect" id="dragOverlayEffect-{{ microcontroller.id }}-{{ microcontroller.motor.id }}"
              draggable="true" (dragstart)="dragstartMotor(microcontroller.motor.id, microcontroller)"
              (dragend)="dragendLib(microcontroller.id + '-' + microcontroller.motor.id)"
              (mouseup)="dragendLib(microcontroller.id + '-' + microcontroller.motor.id)"></div>
          </li>
        </ul>
      </li>
    </div>
  </ul>
</div>
