<div class="wrapper">

  <div id="model" class="padding-15">
    <app-model></app-model>
  </div>

  <div id="classifiers" class="padding-15">
    <div class="resize-vertical" (mousedown)="updateVerticalScreenDivision = true"></div>

    <div class="sidebar">
      <div class="hide-sidebar" id="toggleResultWindow" (click)="this.toggleResultWindow()"><div></div></div>
    </div>
    <app-classification *ngIf="resultWindowVisible"></app-classification>
  </div>

  <div class="resize-horizontal" (mousedown)="updateHorizontalScreenDivision = true"></div>

  <div id="data" class="padding-15">
    <app-data></app-data>
  </div>

</div>
