<div class="window-body"></div>
<div class="draggable-area"></div>
<div class="toolbar-header">
  <div class="toolbar-title">Microcontroller Settings
    <div class="close" (click)="closeWindow();"><div></div></div>
  </div>
</div>

<!-- tabs for each microcontroller -->
<ul class="tabsContainer-vertical">
  <li *ngFor="let microcontroller of this.microcontrollers">
    <div [ngClass]="{ active: selectedMicrocontroller !== null && microcontroller.id === selectedMicrocontroller.id }"
      (click)="selectMicrocontroller(microcontroller)">
      {{ microcontroller.vendor }} - {{ microcontroller.serialPort.path }}
    </div>
  </li>
  <li (click)="addNewMicrocontroller()" title="add microcontroller"><div class="add-button">+</div></li>
</ul>

<!-- microcontroller settings of selected microcontroller -->
<div class="tabContent-motorSettings">
  <div class="innerContent-details motorsettings" id="inner" *ngIf="selectedMicrocontroller !== null && !showSelectMicrocontroller">

    <div class="form-group">
      <label class="labelRow motorsettings">Port</label>
      <input type="text" id="comport" name="comport" disabled [(ngModel)]="selectedMicrocontroller.serialPort.path">
    </div>

    <div class="form-group">
      <label class="labelRow motorsettings">Name</label>
      <input type="text" class="blue" id="name" name="name" [(ngModel)]="selectedMicrocontroller.name" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
    </div>

    <div class="form-group">
      <label class="labelRow select motorsettings">Microcontroller</label>
      <select class="form-control playWindow" id="select-controller-type" [(ngModel)]="selectedMicrocontroller.vendor" name="controller" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
        <option *ngFor="let vendor of vendors" [ngValue]="vendor.name">{{ vendor.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="labelRow motorsettings inset"><div class="question-mark" title="Number of actuators that are controlled by the microcontroller.">?</div>Number of actuators</label>
      <input type="number" class="small motor-settings" id="numberOfMotors-{{ selectedMicrocontroller.id }}" name="numberOfMotors" value="{{ selectedMicrocontroller.motors.length }}" (change)="updateNrOfMotors()">

    </div>

    <div class="form-group">
      <label class="labelRow motorsettings inset"><div class="question-mark" title="Update speed for angle and velocity values displayed in Feelix in ms.">?</div>Communication speed</label>
      <input type="number" class="small motor-settings" id="updateSpeed" name="updateSpeed" [(ngModel)]="selectedMicrocontroller.updateSpeed" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
      <span class="units motor-settings">ms</span>
    </div>

    <div class="form-group">
      <label class="labelRow motorsettings"></label>
      <button class="no-margin" (click)="deleteMicrocontroller(selectedMicrocontroller)">Delete microcontroller</button>
    </div>

    <ul class="motorlist">
      <li *ngFor="let motor of selectedMicrocontroller.motors">
        <div class="inputfield">
          <div class="inputfield-inset">
            <div class="inputfield-inset-title">Actuator {{ motor.id }}</div>

            <!-- <div class="form-group">
              <label class="labelRow select motorsettings inset">Communication</label>
              <select class="form-control playWindow" id="select-communication-type-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.I2C_communicationType"
                      name="select-communication-type-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of I2C_communicationType" [ngValue]="type.value">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="labelRow motorsettings inset">
                <div class="question-mark" title="I2C address for communication between motors">?</div>I2C address</label>
              <input type="text" class="small motor-settings" id="I2C_address-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                     name="I2C_address-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.I2C_address" (change)="updateI2C(motor, this.selectedMicrocontroller)">
              <span *ngIf="motor.I2C_communicationType == 1">
                <button (click)="listDevices(motor.id, selectedMicrocontroller)">List devices</button>
              </span>
            </div> -->


            <div class="form-group">
              <label class="labelRow select motorsettings inset">Type</label>
              <select class="form-control playWindow" id="select-controller-type-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.type"
                        name="controller-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of motorTypes" [ngValue]="type" [disabled]="type === 1">{{ ActuatorLabelMapping[type] }}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="motor.type === 0">
              <label class="labelRow motorsettings inset">
                <div class="question-mark" title="Number of pole pairs of the motor. Can be found in motor specifications. E.g. a configuration of 12N14P has 14 poles / 2 = 7 polepairs.">?</div>Pole pairs</label>
              <input type="number" class="small motor-settings" id="polepairs-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="polepairs-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.config.polepairs" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
            </div>

            <div class="form-group" *ngIf="motor.type === 0">
              <label class="labelRow motorsettings inset">
                <div class="question-mark" title="Phase resistance of the motor (see specs)">?</div>Phase resistance</label>
              <input type="number" class="small motor-settings" id="phaseResistance-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="phaseResistance-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.config.phaseResistance" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
            </div>

            <div class="form-group" *ngIf="motor.type === 0">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Offset between encoder and motor poles. Update to (re)calibrate.">?</div>Zero electric angle</label>
              <input type="text" class="motor-settings small" id="calibrationValue-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="calibrationValue-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
              [(ngModel)]="motor.config.calibration.value" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
              <button (click)="getCalibrationValue(motor.id)">Update</button>
            </div>


            <div class="form-group" *ngIf="motor.type === 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Control pin pneumatic valve (pwm)">?</div>MCU Pin</label>
              <input type="number" class="motor-settings" id="pin-{{ selectedMicrocontroller.id }}-{{ motor.id }}" name="pin-{{ selectedMicrocontroller.id }}-{{ motor.id }}"
                [(ngModel)]="motor.config.pin" (change)="updateMicrocontroller(selectedMicrocontroller)">
            </div>


            <div class="form-group" *ngIf="motor.type === 2">
              <div class="row">
                <label class="radio-container motorsettings">Sense pressure <div class="question-mark" title="Closed loop control: activate when the pressure is measured with a sensor">?</div>
                  <input type="checkbox" class="type" id="closedLoop-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="closedLoop-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                    [(ngModel)]="motor.config.closedLoop" [checked]="motor.config.closedLoop" (change)="updateMicrocontroller(selectedMicrocontroller)">
                  <span class="checkmark radio playwindow"></span>
                </label>
              </div>
            </div>


            <div class="form-group" *ngIf="motor.type === 2 && motor.config.closedLoop">
              <label class="labelRow select motorsettings inset">Communication</label>
              <select class="form-control playWindow" id="select-motor-communication-type-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.config.sensorCommunication"
                      name="select-motor-communication-type-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of sensorCommunicationTypes" [ngValue]="type">{{ SensorCommunicationMapping[type] }}</option>
              </select>
            </div>


            <div class="form-group" *ngIf="motor.type === 2 && motor.config.closedLoop && motor.config.sensorCommunication === 1">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="I2C address sensor">?</div>Sensor address</label>
              <input type="text" class="motor-settings small" id="sensorAddress-{{ selectedMicrocontroller.id }}-{{ motor.id }}" name="sensorAddress-{{ selectedMicrocontroller.id }}-{{ motor.id }}"
                [(ngModel)]="motor.config.sensorAddress" (change)="updateSensorAddress(selectedMicrocontroller, motor.id)">
            </div>

            <div class="form-group" *ngIf="motor.type === 2 && motor.config.closedLoop && motor.config.sensorCommunication === 0">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="I2C address sensor">?</div>Sensor CSS</label>
              <input type="text" class="motor-settings small" id="sensorCSS-{{ selectedMicrocontroller.id }}-{{ motor.id }}" name="sensorCSS-{{ selectedMicrocontroller.id }}-{{ motor.id }}"
                [(ngModel)]="motor.config.sensorCSS" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
            </div>

            <div class="form-group" *ngIf="motor.type === 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Maximum pressure (default 3 bar)">?</div>Pressure limit</label>
              <input type="number" class="motor-settings" id="pressure-limit-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="pressure-limit-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                [(ngModel)]="motor.config.pressureLimit" (change)="updateMicrocontroller(selectedMicrocontroller)"><span class="units motor-settings">bar</span>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="labelRow motorsettings inset"><div class="question-mark" title="Voltage applied to the motor. Usually between 10V and 20V, check your pcb and motor type for the specifications">?</div>Supply voltage</label>
                <input type="number" class="motor-settings" name="supply-voltage-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" id="supply-voltage-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.config.supplyVoltage" disabled><span class="units motor-settings disabled">V</span>
              </div>
              <div class="row-slider">
                <div class="slider">
                  <input type="range" class="html-slider" [min]="10" [max]="24" step="0.5" name="frequencyMotor" [(ngModel)]="motor.config.supplyVoltage" (change)="updateSupplyVoltage(selectedMicrocontroller)">
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="motor.type !== 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Voltage limitting variable. Optional, overflowing values will be cut off.">?</div>Voltage limit</label>
              <input type="number" class="motor-settings" id="voltage-limit-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="voltage-limit-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                [(ngModel)]="motor.config.voltageLimit" (change)="updateMicrocontroller(selectedMicrocontroller)"><span class="units motor-settings">V</span>
            </div>



            <div class="form-group" *ngIf="motor.type !== 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Velocity limitting variable. Optional">?</div>Velocity limit</label>
              <input type="number" class="motor-settings" id="velocity-limit-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="velocity-limit-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                [(ngModel)]="motor.config.velocityLimit" (change)="updateMicrocontroller(selectedMicrocontroller)"><span class="units motor-settings">rad/s</span>
            </div>


            <div class="horizontalSeparator" *ngIf="motor.type !== 2"></div>


            <div class="form-group" *ngIf="motor.type !== 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Direction of sensor opposed to motor poles. Values is derived from calibration.">?</div>Sensor direction</label>
              <input type="text" class="small motor-settings text-align-right" id="calibrationDirection-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="calibrationDirection-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" [(ngModel)]="motor.config.calibration.direction" disabled>
            </div>

            <div class="form-group" *ngIf="motor.type !== 2">
              <div class="row">
                <label class="radio-container motorsettings">Reverse direction <div class="question-mark" title="Reverse sensor direction">?</div>
                  <input type="checkbox" class="type" id="direction-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="direction-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                    [(ngModel)]="motor.config.encoder.direction" [checked]="motor.config.encoder.direction" (change)="updateMicrocontroller(selectedMicrocontroller)">
                  <span class="checkmark radio playwindow"></span>
                </label>
              </div>
            </div>

            <div class="form-group" *ngIf="motor.type !== 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Offset sensor: adjust to modify 0 position">?</div>Sensor offset</label>
              <input type="text" class="small motor-settings" id="sensorOffset-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="sensorOffset-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
              [(ngModel)]="motor.config.sensorOffset" (change)="updateStartPosition(this.selectedMicrocontroller, motor.id)">
              <div class="units motor-setting">&deg;</div>
            </div>

            <div class="form-group" *ngIf="motor.type !== 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Optional: Set start position">?</div>Start position</label>
              <input type="text" class="small motor-settings" id="startPosition-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="startPosition-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
              [(ngModel)]="motor.state.position.start" disabled>
              <div class="units motor-setting disabled">&deg;</div>

              <span *ngIf="motor.state.position.start">
                <input type="text" class="small motor-settings" id="startPosition-offset-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="startPosition-offset-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                value="{{ (motor.state.position.start + motor.config.sensorOffset) }}" (change)="updateRange('start', motor.id, this.selectedMicrocontroller)">
                <div class="units motor-setting">&deg;</div>
              </span>
            </div>

            <!-- <div class="form-group" *ngIf="motor.config.encoderType === 'Magnetic sensor'">
              <label class="labelRow select motorsettings inset"><div class="question-mark" title="Rotational direction opposed to sensor direction">?</div>Rotation direction</label>
              <select class="form-control playWindow" id="direction" [(ngModel)]="motor.config.encoder.direction" name="direction" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of directionType" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div> -->

            <div class="form-group" *ngIf="motor.type !== 2">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Optional: set end position">?</div>End position</label>
              <input type="text" class="small motor-settings" id="endPosition-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="endPosition-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
              [(ngModel)]="motor.state.position.end" disabled>
              <div class="units motor-setting disabled">&deg;</div>

              <span *ngIf="motor.state.position.end">
                <input type="text" class="small motor-settings" id="endPosition-offset-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="endPosition-offset-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                value="{{ (motor.state.position.end + motor.config.sensorOffset) }}" (change)="updateRange('end', motor.id, this.selectedMicrocontroller)">
                <!-- (change)="updateRange('end', motor.id, this.selectedMicrocontroller)" -->
                <div class="units motor-setting">&deg;</div>
              </span>
            </div>

            <div class="form-group" id="find-range" class="hidden" *ngIf="motor.type !== 2">
              <div class="message" id="instruction-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}">rotate motor to start position and press 'OK'</div>
              <div class="row">
                <button class="inline" (click)="confirmPosition(this.selectedMicrocontroller, motor.id)">Ok</button>
                <button class="inline" (click)="searchRange = 0">Cancel</button>
              </div>
            </div>
            <div class="form-group" id="find-range-2" *ngIf="motor.type !== 2">
              <button class="inline" (click)="findRange(this.selectedMicrocontroller, motor.id)">Find moveable range</button>
            </div>






            <!-- <div class="form-group">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Last position read from the motor.">?</div>Current position</label>
              <input type="number" class="small motor-settings" id="currentPosition" name="currentPosition" disabled [(ngModel)]="motor.state.position.current">
              <div class="units motor-setting disabled">&deg;</div>
            </div> -->


            <!-- <div class="horizontalSeparator"></div>

            <div class="form-group">
              <label class="labelRow select motorsettings inset"><div class="question-mark" title="Position sensor">?</div>Position sensor</label>
              <select class="form-control playWindow" id="encoder" [(ngModel)]="motor.config.encoderType" name="encoder" (change)="createencoder()">
                <option *ngFor="let type of encoderTypes" [ngValue]="type.name" [disabled]="type.disabled === true">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="motor.config.encoderType === 'Magnetic sensor'">
              <label class="labelRow select motorsettings inset"><div class="question-mark" title="Rotational direction opposed to sensor direction">?</div>Rotation direction</label>
              <select class="form-control playWindow" id="direction" [(ngModel)]="motor.config.encoder.direction" name="direction" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of directionType" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="motor.config.encoderType === 'Magnetic sensor'">
              <label class="labelRow select motorsettings inset">Part number</label>
              <select class="form-control playWindow" id="part-number" [(ngModel)]="motor.config.encoder.part_number" name="part-number" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of magneticSensorType" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div> -->

            <!-- <div class="form-group" *ngIf="motor.config.encoderType === 'Magnetic sensor'">
              <label class="labelRow select motorsettings inset">Communication protocol</label>
              <select class="form-control playWindow" id="protocol" [(ngModel)]="motor.config.encoder.protocol" name="protocol" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
                <option *ngFor="let type of communicationType" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="motor.config.encoderType === 'Magnetic sensor'">
              <label class="labelRow motorsettings inset">Bit resolution</label>
              <input type="number" class="motor-settings" id="bit_resolution" name="bit_resolution" [(ngModel)]="motor.config.encoder.bit_resolution">
            </div>

            <div class="form-group" *ngIf="motor.config.encoderType === 'Magnetic sensor'">
              <label class="labelRow motorsettings inset">Clock speed</label>
              <input type="number" class="motor-settings" id="clock_speed" name="clock_speed" [(ngModel)]="motor.config.encoder.clock_speed">
            </div> -->


            <!-- <div class="horizontalSeparator"></div> -->




            <div class="form-group" *ngIf="motor.type !== 2">
              <div class="row">
                <label class="labelRow motorsettings inset"><div class="question-mark" title="Optional: set transmission ratio/gain when using gears or force translations">?</div>Transmission factor</label>
                <input type="number" class="motor-settings" id="transmissionValue-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="transmissionValue-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}"
                [(ngModel)]="motor.config.transmission" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
              </div>
            </div>


            <div class="horizontalSeparator" *ngIf="selectedMicrocontroller && selectedMicrocontroller.vendor !== 'ESP8266' && motor.type === 0"></div>

            <div class="form-group" *ngIf="selectedMicrocontroller && selectedMicrocontroller.vendor !== 'ESP8266' && motor.type === 0">
              <div class="row">
                <label class="radio-container motorsettings">Inline current sensing <div class="question-mark" title="Optional: enables Field Oriented Control (FOC) and overheat protection. Can only be used when current sensors are included on the board">?</div>
                  <input type="checkbox" class="type" id="inline-current-sensing" name="inline-current-sensing" [(ngModel)]="motor.config.inlineCurrentSensing" [checked]="motor.config.inlineCurrentSensing" (change)="updateMicrocontroller(selectedMicrocontroller)">
                  <span class="checkmark radio playwindow"></span>
                </label>
              </div>
              <div class="row" *ngIf="motor.config.overheatProtection !== undefined && motor.config.inlineCurrentSensing">
                <label class="radio-container motorsettings">Overheat protection <div class="question-mark" title="Can only be used when current sensors are included on the board">?</div>
                  <input type="checkbox" class="type" id="overheat-protection" name="overheat-protection" [(ngModel)]="motor.config.overheatProtection" [checked]="motor.config.overheatProtection" (change)="updateMicrocontroller(selectedMicrocontroller)">
                  <span class="checkmark radio playwindow"></span>
                </label>
              </div>
              <div class="row" *ngIf="motor.config.calibration.value !== 0.0">
                <label class="labelRow motorsettings inset"><div class="question-mark" title="The motor will move during current sense calibration. Make sure the supply voltage is correct.">?</div>Current sense</label>
                <input type="text" class="motor-settings small" id="currentSenseCalibrationValue-{{ selectedMicrocontroller.serialPort.path }}-{{ motor.id }}" name="currentSenseCalibrationValue"
                [(ngModel)]="motor.config.current_sense_calibration" (change)="updateMicrocontroller(this.selectedMicrocontroller)">

                <button (click)="getCurrentSenseCalibrationValue(motor.id)">Calibrate</button>
              </div>
            </div>

            <!-- <div class="horizontalSeparator"></div> -->


            <!-- <div class="form-group">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Position PID controller, to tune position effects (visit simplefoc.com for more details)">?</div> PID position</label>
              <p>P </p><input type="number" class="small motor-settings" id="position_pid_p" name="position_pid_p" [(ngModel)]="motor.position_pid.p" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
              <p>I </p><input type="number" class="small motor-settings" id="position_pid_i" name="position_pid_i" [(ngModel)]="motor.position_pid.i" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
              <p>D </p><input type="number" class="small motor-settings" id="position_pid_d" name="position_pid_d" [(ngModel)]="motor.position_pid.d" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
            </div>

            <div class="form-group">
              <label class="labelRow motorsettings inset"><div class="question-mark" title="Velocity PID controller, to tune velocity effects (visit simplefoc.com for more details)">?</div> PID velocity</label>
              <p>P </p><input type="number" class="small motor-settings" id="velocity_pid_p" name="velocity_pid_p" [(ngModel)]="motor.velocity_pid.p" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
              <p>I </p><input type="number" class="small motor-settings" id="velocity_pid_i" name="velocity_pid_i" [(ngModel)]="motor.velocity_pid.i" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
              <p>D </p><input type="number" class="small motor-settings" id="velocity_pid_d" name="velocity_pid_d" [(ngModel)]="motor.velocity_pid.d" (change)="updateMicrocontroller(this.selectedMicrocontroller)">
            </div> -->

          </div>
        </div>
      </li>
    </ul>

  </div>

  <!-- add new microcontroller -->
  <div class="innerContent-details motorsettings" id="inner" *ngIf="selectedMicrocontroller === null || showSelectMicrocontroller">
    <div class="form-group">
      <label class="labelRow select motorsettings">Port</label>
      <select class="form-control playWindow" id="COMPortList" [(ngModel)]="selectedPort" name="comportList" (change)="updateSelectedController()">
        <option selected="selected" *ngIf="comports.length === 0">-- select a comport --</option>
        <option *ngFor="let port of comports" [ngValue]="port">{{ port.serialPort.path }} - {{ port.vendor }}</option>
      </select>
      <div (click)="getComports()" class="image-button" title="search for open ports"><img src="./assets/icons/buttons/return.svg"></div>
    </div>
    <div class="form-group">
      <label class="labelRow select motorsettings">Microcontroller</label>
      <select class="form-control playWindow" id="controllerType" [(ngModel)]="selectedController" name="controllerType">
          <option *ngFor="let vendor of vendors" [ngValue]="vendor.name">{{ vendor.name }}</option>
      </select>
    </div>
    <div class="form-row buttons">
      <button id="submit" (click)="saveMicrocontroller(selectedPort, selectedController)">Save</button>
    </div>
  </div>

</div>

