<div class="window-body"></div>
<div class="draggable-area"></div>
<div class="toolbar-header">
  <div class="toolbar-title">Microcontroller Settings
    <div class="close" (click)="closeWindow();"><div></div></div>
  </div>
</div>

<!-- tabs for each microcontroller -->
<ul class="tabsContainer-vertical">
  <li *ngFor="let microcontroller of this.microcontrollers">
    <div [ngClass]="{ active: selectedMicrocontroller !== null && microcontroller.id === selectedMicrocontroller.id }"
      (click)="selectMicrocontroller(microcontroller)">
      {{ microcontroller.type }} - {{ microcontroller.serialPort.path }}
    </div>
  </li>
  <li (click)="addNewMicrocontroller()" title="add microcontroller"><div class="add-button">+</div></li>
</ul>

<!-- microcontroller settings of selected microcontroller -->
<div class="tabContent-motorSettings">
  <div class="innerContent-details motorsettings" id="inner" *ngIf="selectedMicrocontroller !== null && !showSelectMicrocontroller">

    <div class="form-group">
      <label class="labelRow motorsettings">Port</label>
      <input type="text" id="comport" name="comport" disabled [(ngModel)]="selectedMicrocontroller.serialPort.path">
    </div>

    <div class="form-group">
      <label class="labelRow select motorsettings">Microcontroller</label>
      <select class="form-control playWindow" id="select-controller-type" [(ngModel)]="selectedMicrocontroller.type" name="controller" (change)="updateMicrocontroller()">
        <option *ngFor="let type of controllerOptions" [ngValue]="type.name">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="labelRow motorsettings">Number of motors</label>
      <input type="number" class="settings" id="numberOfMotors-{{ selectedMicrocontroller.id }}" name="numberOfMotors" value="{{ selectedMicrocontroller.motors.length }}" (change)="updateNrOfMotors()">
    </div>

    <ul class="motorlist">
      <li *ngFor="let motor of selectedMicrocontroller.motors">
        <div class="inputfield">
          <div class="inputfield-inset">
            <div class="inputfield-inset-title">Motor {{ motor.id }}</div>

            <div class="form-group">
              <label class="labelRow select motorsettings inset">Type</label>
              <select class="form-control playWindow" id="select-controller-type" [(ngModel)]="motor.type" name="controller" (change)="updateMicrocontroller()">
                <option *ngFor="let type of motorType" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="motor.type === 'BLDC Motor'">
              <label class="labelRow motorsettings inset">Pole pairs</label>
              <input type="number" class="small settings" id="polepairs" name="polepairs" [(ngModel)]="motor.config.polepairs">
              <button (click)="getNumberOfPolePairs(motor.id)">Get</button>
            </div>

            <div class="form-group">
              <label class="labelRow select motorsettings inset">Encoder</label>
              <select class="form-control playWindow" id="encoder" [(ngModel)]="motor.config.encoder" name="encoder" (change)="updateMicrocontroller()">
                <option *ngFor="let type of encoderTypes" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="labelRow motorsettings inset">Calibration</label>
              <input type="number" class="settings" id="calibrationValue" name="calibrationValue" [(ngModel)]="motor.config.calibration.value" (change)="updateMicrocontroller()">
            </div>

            <div class="form-group">
              <label class="labelRow motorsettings inset">Start position</label>
              <input type="number" class="settings" id="startPosition" name="startPosition" [(ngModel)]="motor.state.position.start" (change)="updateMicrocontroller()">
            </div>

            <div class="form-group">
              <label class="labelRow motorsettings inset">Current position</label>
              <input type="number" class="settings" id="currentPosition" name="currentPosition" disabled [(ngModel)]="motor.state.position.current">
            </div>


            <div class="horizontalSeparator"></div>


            <div class="form-group">
              <div class="row">
                <label class="labelRow motorsettings inset">Supply voltage</label>
                <input type="number" class="settings" name="supply-voltage" id="supply-voltage" [(ngModel)]="motor.config.supplyVoltage" disabled>
              </div>
              <div class="row-slider">
                <div class="slider">
                  <input type="range" class="html-slider" [min]="12" [max]="24" step="0.5" name="frequencyMotor" [(ngModel)]="motor.config.supplyVoltage" (change)="updateMicrocontroller()">
                </div>
              </div>
            </div>


            <div class="horizontalSeparator"></div>


            <div class="form-group">
              <div class="row">
              <label class="radio-container motorsettings">Inline current sensing
                <input type="checkbox" class="type" id="inline-current-sensing" name="inline-current-sensing" [(ngModel)]="motor.config.inlineCurrentSensing" [checked]="motor.config.inlineCurrentSensing">
                <span class="checkmark radio playwindow"></span>
              </label>
              </div>
            </div>

            <div class="form-group">
              <label class="labelRow select motorsettings inset">Motion control</label>
              <select class="form-control playWindow" id="motion-control" [(ngModel)]="motor.config.motionControl" name="motion-control" (change)="updateMicrocontroller()">
                <option *ngFor="let type of motionControlTypes" [ngValue]="type.name">{{ type.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="labelRow motorsettings inset">PID controller</label>
              <p>P </p><input type="number" class="small settings" id="PID_p" name="PID_p" [(ngModel)]="motor.pid.p" (change)="updateMicrocontroller()">
              <p>I </p><input type="number" class="small settings" id="PID_i" name="PID_i" [(ngModel)]="motor.pid.i" (change)="updateMicrocontroller()">
              <p>D </p><input type="number" class="small settings" id="PID_d" name="PID_d" [(ngModel)]="motor.pid.d" (change)="updateMicrocontroller()">
            </div>

          </div>
        </div>
      </li>
    </ul>

  </div>

  <!-- add new microcontroller -->
  <div class="innerContent-details motorsettings" id="inner" *ngIf="selectedMicrocontroller === null || showSelectMicrocontroller">
    <div class="form-group">
      <label class="labelRow select motorsettings">Port</label>
      <select class="form-control playWindow" id="COMPortList" [(ngModel)]="selectedPort" name="comportList">
        <option selected="selected" *ngIf="comports.length === 0">-- select a comport --</option>
        <option *ngFor="let port of comports" [ngValue]="port">{{ port.serialPort.path }} - {{ port.vendor }}</option>
      </select>
      <div (click)="getComports()" class="image-button" title="search for open ports"><img src="./assets/icons/buttons/return.svg"></div>
    </div>
    <div class="form-group">
      <label class="labelRow select motorsettings">Microcontroller</label>
      <select class="form-control playWindow" id="controllerType" [(ngModel)]="selectedController" name="controllerType">
          <option *ngFor="let type of controllerOptions" [ngValue]="type.name">{{ type.name }}</option>
      </select>
    </div>
    <div class="form-row buttons">
      <button id="submit" (click)="saveMicrocontroller(selectedPort, selectedController)">Save</button>
    </div>
  </div>

</div>

