<div class="fixed-toolbar" id="fixed-toolbar">


  <div class="row" id="toolbar-content">

    <div class="column offset-left">
      <div class="datalist_dropdown">
        <label class="labelRow small">Data set</label>
        <select class="form-control" id="select_dataset" [(ngModel)]="this.tensorflowService.selectedDataset" (change)="this.tensorflowService.selectDataSet()"
            name="select_dataset" [compareWith]="compareID">
          <option [ngValue]="undefined" selected="selected">-- select dataset --</option>
          <option *ngFor="let set of this.tensorflowService.dataSets" [ngValue]="set">{{ set.name }}</option>
        </select>
      </div>
    </div>

    <div class="column tableheader" *ngIf="this.tensorflowService.selectedDataset && this.tensorflowService.selectedDataset.d && this.tensorflowService.selectedModel">
      <div class="row variable_name" class="data_element selectbox" *ngFor="let output of this.tensorflowService.selectedModel.outputs; let o=index;" [ngClass]="{ invisible: !output.active }">

        <label class="labelRow small">{{ output.name }}</label>
        <select class="form-control" id="{{ this.tensorflowService.selectedDataset.id }}-output-{{ o }}" name="{{ this.tensorflowService.selectedDataset.id }}-output-{{ o }}"
          [(ngModel)]="this.tensorflowService.selectedDataset.d.outputs[o]" (change)="this.tensorflowService.updateOutputDataSet(this.tensorflowService.selectedDataset.id, o)" required>
          <option value="undefined" selected="selected">-- select label --</option>
          <option *ngFor="let label of output.labels" [ngValue]="label.name">{{ label.name }}</option>
        </select>
      </div>
    </div>

    <ul class="buttons-list">
      <li id="new" (click)="this.tensorflowService.addDataSet()"><img src="./assets/icons/tools/collections.svg" title="Add data set"></li>
      <li id="load" (click)="this.tensorflowService.loadDataSet()"><img src="./assets/icons/buttons/open.svg" title="Load data set"></li>
      <li id="save" (click)="this.tensorflowService.saveDataSet()"><img src="./assets/icons/buttons/save.svg" title="Save data set"></li>
      <!-- <li id="export_json" (click)="this.tensorflowService.exportDataSet()"><img src="./assets/icons/buttons/export.svg" title="Export datasets as json file"></li>
      <li id="export_json" (click)="this.tensorflowService.importDataSet()"><img src="./assets/icons/buttons/import.svg" title="Import datasets as json file"></li> -->
      <li id="delete" (click)="this.tensorflowService.deleteDataSet()"><img src="./assets/icons/buttons/bin.svg" title="Delete data set"></li>
      <li id="trim" (click)="this.tensorflowService.trimDataSet()"><img src="./assets/icons/buttons/trim.svg" title="Trim data"></li>
    </ul>
    <div id="record-button" class="record-button" (click)="this.record()" [ngClass]="{ red: this.tensorflowService.recording.active }">
      <div class="circle"></div>
      <div class="rec-text">rec</div>
    </div>
  </div>
  <div class="attach-toolbar" id="toggleDataSection"><div class="attach-arrow" (click)="toggleDataSection()"></div></div>
</div>

<div class="columns" *ngIf="this.dataVisible">

  <div class="column-30 padding-15 mcu">
    <div class="row">
      <label class="labelRow tableHeader">Microcontrollers</label>
    </div>

    <div class="form-group microcontroller">
      <select class="form-control playWindow microcontroller" id="microcontroller" name="microcontroller" [(ngModel)]="this.tensorflowService.selectOptionMicrocontroller" required>
        <option class="placeholder" value="" selected>-- select microcontroller --</option>
        <option *ngFor="let item of this.hardwareService.microcontrollers" [ngValue]="item">{{ item.name }}</option>
      </select>
      <button class="add" (click)="this.tensorflowService.addMicrocontroller()" title="add">Add</button>
    </div>

    <ul>
      <li *ngFor="let microcontroller of this.tensorflowService.selectedMicrocontrollers">
        <div class="row">
          <div class="opencloseArrow open microcontroller" id="open_{{ microcontroller.id }}" (click)="openCloseItem(microcontroller.id)"><div></div></div>
          <label class="labelRow nextToArrow">{{ microcontroller.name }}</label>
          <div class="buttonPlayWindow dataSetList delete" (click)="this.tensorflowService.deleteMicrocontroller(microcontroller.id)" title="delete">
            <img src="./assets/icons/buttons/bin.svg">
          </div>
        </div>

        <div class="row" id="section_{{ microcontroller.id }}">
          <div class="row">
            <label class="label">
              <div class="question-mark"
              title="Frequency for data collection (ms): slow down by increasing the value. A higher value is recommended for microcontrollers with high processing power to reduce the amount of data captured">?</div>
              frequency</label>
            <input type="number" class="number small blue" id="updateFrequency" [(ngModel)]="microcontroller.updateSpeed" name="updateFrequency" (change)="updateCommunicationSpeed(microcontroller.id)">
          </div>
          <div class="row">
            <ul class="motor-list">
              <li *ngFor="let motor of microcontroller.motors">
                <label class="radio-container">{{ motor.id }}
                  <input type="checkbox" class="type" id="motor-{{ motor.id }}" name="motor-{{ motor.id }}" [(ngModel)]="motor.record" [checked]="motor.record">
                  <span class="checkmark radio tensorflow"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="column-50 flexbox">

    <div class="data_content">

      <div class="form-group absolute" *ngIf="this.tensorflowService.selectedDataset">
        <!-- <label class="label">Dataset</label> -->
        <input type="text" id="dataSetName" [(ngModel)]="this.tensorflowService.selectedDataset.name" name="dataSetName">
      </div>

      <div id="svg_graph"></div>


      <div class="graph_controls">
        <div class="row" *ngIf="this.tensorflowService.selectedMicrocontrollers.length > 0">
          <div class="opencloseArrow open controls" id="open_motors" (click)="openCloseItem('motors')"><div></div></div>
          <label class="labelRow nextToArrow">Motors</label>
          <div class="row" id="section_motors">
            <ul class="motor-list-buttons">
              <li *ngFor="let microcontroller of this.tensorflowService.selectedMicrocontrollers">
                <ul>
                  <li class="motor-list-button-item" *ngFor="let motor of microcontroller.motors">
                    <div [ngClass]="{'active': motor.visible }" *ngIf="motor.record" (click)="toggleVisibilityMotor(microcontroller, motor.id)">{{ microcontroller.name }} - {{ motor.id }}</div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="opencloseArrow open controls" id="open_inputs" (click)="openCloseItem('inputs')"><div></div></div>
          <label class="labelRow nextToArrow">Inputs</label>
          <div class="row" id="section_inputs">
            <ul class="input-list-buttons">
              <li class="input-list-button-item" *ngFor="let input of this.tensorflowService.selectedModel.inputs">
                <div [ngStyle]="{'background': input.color }" [ngClass]="{'active': input.visible }" *ngIf="input.visible && input.active" (click)="toggleVisibilityInput(input.name)">{{ input.name }}</div>
                <div *ngIf="!input.visible && input.active" (click)="toggleVisibilityInput(input.name)">{{ input.name }}</div>
              </li>
            </ul>
          </div>
        </div>


    </div>
  </div>

</div>
