<div id="controls" (click)="stopPropagation($event)">
  <div class="attach-toolbar"><div class="attach-arrow" [ngClass]="{ hidden: !visible[0] }" (click)="visible[0] = !visible[0]"></div><div class="label title">controls</div></div>

  <ul class="menu" [ngClass]="{ open: visible[0] }">

    <li id="model-item">
      <div class="opencloseArrow" [ngClass]="{ open: visible[4] }" (click)="visible[4] = !visible[4]"><div></div></div>
      <label class="label header">models</label>

      <ul class="content" [ngClass]="{ open: visible[4] }">
        <div class="row">
          <ul id="models">
            <li *ngFor="let model of this.models">
              <div id="item-{{ model.id }}" class="model-item" (click)="addModel(model)"><img src="./assets/images/models_png/{{ model.thumbnail }}"></div>
            </li>
          </ul>
        </div>
      </ul>
    </li>

    <li id="component-item">
      <div class="opencloseArrow" [ngClass]="{ open: visible[5] }" (click)="visible[5] = !visible[5]"><div></div></div>
      <label class="label header">components</label>

      <ul class="content" [ngClass]="{ open: visible[5] }">
        <li *ngFor="let object of this.kinematicService.joints">
          <div class="row" (click)="selectJointObject(object)">
            <input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="text" class="wide" [ngClass]="{ blue: object.selected }" id="name" name="name" [(ngModel)]="object.name" (change)="updateModel(object)">

            <div class="buttons">
              <div id="rotate" class="svg-button" (click)="rotate()"><img src="./assets/icons/buttons/rotate.svg"></div>
              <div id="move" class="svg-button" (click)="move()"><img src="./assets/icons/buttons/move2.svg"></div>
              <div id="not-visible" class="svg-button" *ngIf="object.object3D.hidden"><img src="./assets/icons/layers/not-visible-icon.svg"></div>
              <div id="visible" class="svg-button" *ngIf="!object.object3D.hidden"><img src="./assets/icons/layers/visible-icon.svg"></div>
              <div id="locked" class="svg-button" *ngIf="object.object3D.lock"><img src="./assets/icons/layers/locked-icon.svg"></div>
              <div id="lock" class="svg-button" *ngIf="!object.object3D.lock"><img src="./assets/icons/layers/lock-icon.svg"></div>
            </div>
          </div>
        </li>
      </ul>
    </li>


    <li id="detail-item">
      <div class="opencloseArrow" [ngClass]="{ open: visible[1] }" (click)="visible[1] = !visible[1]"><div></div></div>

      <label class="label header">details</label>

      <ul class="content" [ngClass]="{ open: visible[1] }">
        <li *ngIf="this.kinematicService.selectedJoints.length === 0">no items selected </li>
        <li *ngIf="this.kinematicService.selectedJoints.length > 1">multiple items selected</li>
        <li *ngIf="this.kinematicService.selectedJoints.length === 1">
          <div class="row">
            <label class="label">name</label>
            <input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="text" class="blue wide input-column" id="name" name="name" [(ngModel)]="this.kinematicService.selectedJoints[0].name" (change)="updateModel(this.kinematicService.selectedJoints[0])">
          </div>

          <div class="row">
            <div class="label">position</div>
            <div class="values">
              <p>x </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="pos_x" name="pos_x" [(ngModel)]="this.kinematicService.selectedJoints[0].object3D.position.x" (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <p>y </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="pos_y" name="pos_y" [(ngModel)]="this.kinematicService.selectedJoints[0].object3D.position.y" (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <p>z </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="pos_z" name="pos_z" [(ngModel)]="this.kinematicService.selectedJoints[0].object3D.position.z" (change)="updateModel(this.kinematicService.selectedJoints[0])">
            </div>
          </div>
          <div class="row">
            <div class="label">rotation</div>
            <div class="values">
              <p>x </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="rot_x" name="rot_x" [(ngModel)]="this.kinematicService.selectedJoints[0].object3D.rotation.x" (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <p>y </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="rot_y" name="rot_y" [(ngModel)]="this.kinematicService.selectedJoints[0].object3D.rotation.y" (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <p>z </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="rot_z" name="rot_z" [(ngModel)]="this.kinematicService.selectedJoints[0].object3D.rotation.z" (change)="updateModel(this.kinematicService.selectedJoints[0])">
            </div>
          </div>


          <div class="row">
              <div class="row">
                <div class="opencloseArrow" [ngClass]="{ open: visible[6] }" (click)="visible[6] = !visible[6]"><div></div></div>
                <label class="label header">Connection points</label>
              </div>
              <div class="row">
                <ul class="content" [ngClass]="{ open: visible[6] }">
                  <li *ngFor="let point of this.kinematicService.selectedJoints[0].connectors">
                    <div class="row">
                      <div class="label">{{ point.plane }}</div>
                      <span *ngIf="point.plane !== 'Z' && this.kinematicService.selectedJoints[0].isJoint">
                        <input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="angle_{{ point.id }}" name="angle_{{ point.id }}" [(ngModel)]="point.angle" (change)="this.updatePointAngle(point)">
                      </span>
                      <div class="buttons" *ngIf="this.kinematicService.selectedJoints[0].isJoint">
                        <div id="linked" class="svg-button" [ngClass]="{ active: point.connected }"><img src="./assets/icons/effects/link-icon.svg"></div>
                        <div id="outside" class="svg-button" *ngIf="point.plane === 'Y'" (click)="this.updatePointType(this.kinematicService.selectedJoints[0].id, point)"><img src="./assets/icons/buttons/outside.svg"></div>
                        <div id="inside" class="svg-button" *ngIf="point.plane === 'X'" (click)="this.updatePointType(this.kinematicService.selectedJoints[0].id, point)"><img src="./assets/icons/buttons/inside.svg"></div>
                        <div id="delete" class="svg-button" *ngIf="point.plane !== 'Z'" (click)="this.deletePoint(this.kinematicService.selectedJoints[0].id, point.id)"><img src="./assets/icons/buttons/bin.svg"></div>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="this.kinematicService.selectedJoints[0].isJoint">
                    <div class="button" (click)="this.kinematicService.addPoint(this.kinematicService.selectedJoints[0].id)">add</div>
                  </li>
                </ul>
              </div>
          </div>

          <div class="row">
            <label class="radio-container inline">
              <input type="checkbox" class="type" id="joint_active" name="joint_active"
              [(ngModel)]="this.kinematicService.selectedJoints[0].grounded" [checked]="this.kinematicService.selectedJoints[0].grounded" (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <span class="checkmark radio inline"></span> grounded
            </label>
          </div>



          <div class="row" *ngIf="this.kinematicService.selectedJoints[0].type === 'joint' && this.kinematicService.selectedJoints[0].active">
            <select class="form-control playWindow microcontroller" id="microcontroller" name="microcontroller" [(ngModel)]="this.kinematicService.selectedJoints[0].control"
              (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <option class="placeholder" value="" selected>-- select microcontroller --</option>
              <option *ngFor="let item of this.hardwareService.microcontrollers" [ngValue]="item">{{ item.name }}</option>
            </select>

            <select *ngIf="this.kinematicService.selectedJoints[0].control" class="form-control playWindow microcontroller small" id="motor" name="motor" [(ngModel)]="this.kinematicService.selectedJoints[0].motor"
              (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <option *ngFor="let motor of this.kinematicService.selectedJoints[0].control.motors" [ngValue]="motor.index">{{ motor.id }}</option>
            </select>
          </div>

          <div class="row" *ngIf="this.kinematicService.selectedJoints[0].control">
            <div class="label">encoder</div>
            <input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="encoder" name="encoder"
            [(ngModel)]="this.kinematicService.selectedJoints[0].control.motors[0].state.position.current" (change)="updateModel(this.kinematicService.selectedJoints[0])">
          </div>

          <div class="row" *ngIf="this.kinematicService.selectedJoints[0].control">
            <div class="label">constraints</div>
            <div class="values">
              <p>min </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="range_start" name="range_start" [(ngModel)]="this.kinematicService.selectedJoints[0].control.motors[0].state.position.start" (change)="updateModel(this.kinematicService.selectedJoints[0])">
              <p>max </p><input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="range_end" name="range_end" [(ngModel)]="this.kinematicService.selectedJoints[0].control.motors[0].state.position.end" (change)="updateModel(this.kinematicService.selectedJoints[0])">
            </div>
          </div>


          <div class="row" *ngIf="!this.kinematicService.selectedJoints[0].isJoint && this.kinematicService.selectedJoints[0].connectors.length === 2">
            <div class="label">length</div>
            <input (focus)="inputActive(true)" (focusout)="inputActive(false)" type="number" class="small" id="size{{ this.kinematicService.selectedJoints[0].id }}"
              name="size_{{ this.kinematicService.selectedJoints[0].id }}" [(ngModel)]="this.kinematicService.selectedJoints[0].size" (change)="this.changeSize(this.kinematicService.selectedJoints[0])">
          </div>

        </li>
      </ul>
    </li>

        <!-- <li id="state-item">
      <div class="opencloseArrow" [ngClass]="{ open: visible[2] }" (click)="visible[2] = !visible[2]"><div></div></div>
      <label class="label header">states</label>

      <ul class="content" [ngClass]="{ open: visible[2] }">
      </ul>
    </li>

    <li id="expression-item">
      <div class="opencloseArrow" [ngClass]="{ open: visible[3] }" (click)="visible[3] = !visible[3]"><div></div></div>
      <label class="label header">expressions</label>

      <ul class="content" [ngClass]="{ open: visible[3] }">
      </ul>
    </li> -->


  </ul>
</div>
