<div class="fixed-toolbar" id="fixed-toolbar" ondrag="return false">

  <div *ngIf="this.drawingService.file.configuration.horizontalScreenDivision < (100/innerHeight) * (innerHeight - 50)">
    <div class="form-row">
      <ul class="buttons-list">
        <li id="new" (click)="createNewEffect()"><img src="./assets/icons/tools/collections.svg" title="New effect"></li>
        <li id="settings" (click)="openEffectSettings()"><img src="./assets/icons/tools/settings.svg" title="Effect settings"></li>
        <li id="save-effect" (click)="saveActiveEffect()"><img src="./assets/icons/buttons/save.svg" title="Save effect"></li>
        <li id="save-lib-effect" (click)="saveEffectToLibrary()"><img src="./assets/icons/buttons/save-lib.svg" title="Save effect to library"></li>
      </ul>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect" title="change color">
      <span>
        <input type="color" id="color-picker" name="color-picker" [(ngModel)]="this.dataService.color" (change)="updateColor()">
      </span>
      <span *ngIf="this.drawingService.file.activeEffect.type === 1">
        <input type="color" id="color-picker" name="color-picker-2" [(ngModel)]="this.dataService.color2" (change)="updateColor2()">
      </span>

      <label class="select color-picker t{{ this.drawingService.file.activeEffect.type }}" title="select effect visualization type"></label>
      <select class="form-control" id="select" (change)="this.updateEffectType()" [(ngModel)]="this.drawingService.file.activeEffect.type" name="type" title="select effect visualization type">
          <option *ngFor="let type of typeOptions" [ngValue]="type">{{ EffectTypeLabelMapping[type] }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type < 2" title="select units x-axis">
      <label class="select axes">x </label>
      <select class="form-control" id="select" value="{{ this.drawingService.file.activeEffect.grid.xUnit.name }}"
        (change)="this.drawingService.updateUnitsActiveEffect($event.target.value)" name="x-axis">
          <option *ngFor="let type of this.drawingService.config.xAxisOptions" [ngValue]="type">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type >= 2" title="select units x-axis">
      <label class="select axes">x </label>
      <select class="form-control small" id="select" value="{{ this.drawingService.file.activeEffect.grid.xUnit.name }}"
          (change)="this.drawingService.updateUnitsActiveEffect($event.target.value)" name="x-axis">
          <option *ngFor="let type of this.drawingService.config.xAxisOptions_velocity" [ngValue]="type">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type < 2" title="units y-axis: % of max voltage">
      <label class="select axes">y </label>
      <select class="form-control small" id="select" [(ngModel)]="this.drawingService.file.activeEffect.grid.yUnit" name="y-axis" [compareWith]="compareUnits">
          <option *ngFor="let type of this.drawingService.config.yAxisOptions" [ngValue]="type">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type === 2" title="units y-axis: degrees or % of max velocity">
      <label class="select axes">y </label>
      <select class="form-control small" id="select" [(ngModel)]="this.drawingService.file.activeEffect.grid.yUnit" name="y-axis" [compareWith]="compareUnits">
          <option *ngFor="let type of this.drawingService.config.yAxisOptions_velocity" [ngValue]="type">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type === 3" title="units y-axis: % of max pressure">
      <label class="select axes">y </label>
      <select class="form-control small" id="select" [(ngModel)]="this.drawingService.file.activeEffect.grid.yUnit" name="y-axis"
          (change)="this.drawingService.updateYunitsActiveEffect($event.target.value)" [compareWith]="compareUnits">
          <option *ngFor="let type of this.drawingService.config.yAxisOptions_pneumatic" [ngValue]="type">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && innerWidth > 1125">
      <ul class="buttons-list equation">
        <li id="new" (click)="mathInputVisible = !mathInputVisible"><img src="./assets/icons/buttons/fx.svg" title="Design effect based on mathematical equation"></li>
      </ul>
    </div>

    <div class="form-row" *ngIf="mathInputVisible && this.drawingService.file.activeEffect && innerWidth > 1125">
      <input type="text" class="math" id="mathEquation" name="mathEquation" [(ngModel)]="equation" (change)="updateEquation()">
    </div>


    <div class="form-row" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type < 2" title="select type of haptic effect">
      <label class="select"></label>
      <select class="form-control" id="select" [(ngModel)]="this.drawingService.file.activeEffect.rotation"
        (change)="this.drawingService.saveEffect(this.drawingService.file.activeEffect)" name="rotation-type">
          <option *ngFor="let type of rotationOptions" [ngValue]="type">{{ type }}</option>
      </select>
    </div>


    <div class="form-row range" *ngIf="this.drawingService.file.activeEffect && this.drawingService.file.activeEffect.type === 2 && (this.drawingService.file.activeEffect.grid.yUnit.name === 'rad' || this.drawingService.file.activeEffect.grid.yUnit.name === 'deg')"
      title="specify range y-axis (deg)">
      <label>range</label>
      <input type="number" class="small" id="range-start" name="range-start" [(ngModel)]="this.drawingService.file.activeEffect.range_y.start" (change)="updateRange()">
      <input type="number" class="small" id="range-end" name="range-end" [(ngModel)]="this.drawingService.file.activeEffect.range_y.end" (change)="updateRange()">
    </div>

    <ul>
      <li id="align-buttons" *ngIf="this.innerWidth > 1280">
        <div>
          <ul class="align" id="distribute">
              <li *ngFor="let item of distribute" (click)="selectItem(item.value);">
                <img src="{{ item.icon }}" title="align {{ item.value }}"></li>
          </ul>
          <ul class="align" id="align">
              <li *ngFor="let item of align" (click)="selectItem(item.value);">
                <img src="{{ item.icon }}" title="align {{ item.value }}"></li>
          </ul>
        </div>
      </li>

      <li id="reference-point" class="scaling-options" [ngClass]="{ active: toolbar.boxSelection }" *ngIf="this.innerWidth > 1070">
          <div class="bg-line"></div>
          <div class="row">
              <div *ngFor="let point of referencePoints" class="point"
                [ngClass]="{ active: toolbar.referencePoint.name === point.name }"
                (click)="selectReferencePoint(point);"></div>
          </div>
      </li>

      <li id="current-x" class="scaling-options" *ngIf="this.innerWidth > 1070">
        <label class="coordinates-label">x</label>
        <input type="number" id="x-value" name="points-x" [(ngModel)]="toolbar.points.x"
        (click)="focus()" (change)="onChange('x-value')">
        <div class="arrows"><div class="arrow up x" id="upX" name="upX" (click)="transform('x', 1);"></div>
        <div class="arrow down x" id="downX" name="downX" (click)="transform('x', -1);"></div></div>
      </li>

      <li id="current-y" class="scaling-options" *ngIf="this.innerWidth > 1070">
        <label class="coordinates-label">y</label>
        <input type="number" id="y-value" name="points-y" (change)="onChange('y-value')" [(ngModel)]="toolbar.points.y"
        (click)="focus()">
        <div class="arrows"><div class="arrow up y" id="upY" name="upY" (click)="transform('y', 1);"></div>
        <div class="arrow down y" id="downY" name="downY" (click)="transform('y', -1);"></div></div>
      </li>

      <li id="current-w" class="scaling-options" *ngIf="this.innerWidth > 1070">
        <label class="coordinates-label">w</label>
        <input type="number" id="w-value" name="points-w" (change)="onChange('w-value')" [(ngModel)]="toolbar.points.w"
        (click)="focus()">
        <div class="arrows"><div class="arrow up w" id="upW" name="upW" (click)="transform('w', 1);"></div>
        <div class="arrow down w" id="downW" name="downW" (click)="transform('w', -1);"></div></div>
      </li>

      <li id="link" class="scaling-options" *ngIf="this.innerWidth > 1070">
        <div class="aspectRatio active" (click)="toolbar.linked = !toolbar.linked">
          <img *ngIf="toolbar.linked" src="./assets/icons/align/link.svg" title="aspect ratio">
          <img *ngIf="!toolbar.linked" src="./assets/icons/align/unlink.svg" title="aspect ratio">
        </div>
      </li>

      <li id="current-h" class="scaling-options" *ngIf="this.innerWidth > 1070">
        <label class="coordinates-label">h</label>
        <input type="number" id="h-value" name="points-h" (change)="onChange('h-value')" [(ngModel)]="toolbar.points.h"
        (click)="focus()">
        <div class="arrows"><div class="arrow up h" id="upH" name="upH" (click)="transform('h', 1, toolbar.points.h);"></div>
        <div class="arrow down h" id="downH" name="downH" (click)="transform('h', -1, toolbar.points.h);"></div></div>
      </li>
    </ul>
  </div>
  <div class="attach-toolbar" id="toggleDrawPlane"><div class="attach-arrow" (click)="toggleDrawPlane()"></div></div>
</div>
